asgiref==3.8.1
-e git+https://github.com/LewisFletcher/crispy-tailwind.git@7cd37dc356ae9153813183fdcb8c7c295c5317d6#egg=crispy_tailwind
Django==5.1.7
django-browser-reload==1.18.0
django-ckeditor==6.7.2
-e git+https://github.com/ddrake/django-cprofile-middleware.git@791fbfe57f95b22edfcee9db284aad644a308d62#egg=django_cprofile_middleware
django-impersonate==1.9.5
django-crispy-forms==2.3
django-js-asset==3.1.2
django-tailwind==3.8.0
gunicorn==23.0.0
numpy==2.2.4
packaging==24.2
Pillow==11.1.0
psycopg2==2.9.10
-e git+https://github.com/ddrake/reportlab-mirror@78616d99260ece93854ba65658afcc810d4d61ec#egg=reportlab
sqlparse==0.5.3
typing_extensions==4.12.2
