asgiref==3.11.0
-e git+https://github.com/LewisFletcher/crispy-tailwind.git@7cd37dc356ae9153813183fdcb8c7c295c5317d6#egg=crispy_tailwind
Django==6.0
django-browser-reload==1.21.0
django-ckeditor==6.7.3
-e git+https://github.com/ddrake/django-cprofile-middleware.git@791fbfe57f95b22edfcee9db284aad644a308d62#egg=django_cprofile_middleware
django-impersonate==1.9.5
django-crispy-forms==2.5
django-js-asset==3.1.2
django-tailwind==4.4.2
gunicorn==23.0.0
numpy==2.4.0
packaging==25.0
Pillow==12.0.0
psycopg2==2.9.11
-e git+https://github.com/ddrake/reportlab-mirror@78616d99260ece93854ba65658afcc810d4d61ec#egg=reportlab
sqlparse==0.5.5
typing_extensions==4.15.0
mailersend==2.0.0
