asgiref==3.8.1
-e git+https://github.com/LewisFletcher/crispy-tailwind.git@7cd37dc356ae9153813183fdcb8c7c295c5317d6#egg=crispy_tailwind
Django==5.0.7
django-browser-reload==1.13.0
django-ckeditor==6.7.1
-e git+https://github.com/ddrake/django-cprofile-middleware.git@791fbfe57f95b22edfcee9db284aad644a308d62#egg=django_cprofile_middleware
django-impersonate==1.9.4
django-crispy-forms==2.2
django-js-asset==2.2.0
django-tailwind==3.8.0
gunicorn==22.0.0
numpy==2.0.1
packaging==24.1
Pillow==10.4.0
psycopg2==2.9.9
-e git+https://github.com/ddrake/reportlab-mirror@78616d99260ece93854ba65658afcc810d4d61ec#egg=reportlab
sqlparse==0.5.0
typing_extensions==4.12.2
