{% extends 'main/base.html' %}
{% block title %}
<title>Under Construction</title>
{% endblock title %}
{% block content %}
{% load main_extra %}
<div class="p-6 w-1/2 mx-auto bg-white rounded-xl shadow-lg flex items-center space-x-4 print:shadow-none print:w-full">
  <div class="">
    <h1 class="text-xl">This site is currently under construction</h1>
    <p class="text-base my-2">
      The site cannot currently be used because we are in the process of updating
      the database to support the 2026 crop year.
      This process should be complete by 1/1/2026 2:00 AM CT.
    </p>
  </div>
</div>
{% endblock %}
