{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
		{% block title %}
    <title>IFBT</title>
		{% endblock %}
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="apple-touch-icon" sizes="180x180"
          href="{% static 'main/images/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" 
          href="{% static 'main/images/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16"
          href="{% static 'main/images/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'main/images/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'main/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
		{% tailwind_css %}
	</head>

	<body class="bg-gray-50 font-serif leading-normal tracking-normal">
		<div class="container mx-auto">
			<section class="flex items-center justify-center h-screen">
				{% block content %}
				{% endblock %}
			</section>
		</div>
	</body>
</html>
