{% extends 'main/base.html' %}
{% load tailwind_filters %}
{% block title %}
<title>Log In</title>
{% endblock title %}
{% block content %}
<div class="p-6 max-w-med mx-auto bg-white rounded-xl shadow-lg flex items-center space-x-4">
    <div>
        <h1 class="text-xl mb-2">Login to use the Integrated Farm Budget Tool</h1>
        <form action="" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn-primary">Log In</button>
        </form>
        <div class="mt-3">
        <a class="text-xl text-indigo-700 hover:text-indigo-500"
           href="{% url 'password_reset' %}">Forgot username or password</a>
        </div>
    </div>
</div>
{% endblock content %}

