{% extends 'main/base.html' %}
{% block title %}
<title>PW changed</title>
{% endblock title %}
{% block content %}
<div class="p-6 max-w-med mx-auto bg-white rounded-xl shadow-lg flex items-center space-x-4">
  <div>
      <h1 class="text-xl mb-1">Password reset complete</h1>
      <p class="text-lg">Your password has been changed. You can 
          <a class="text-xl text-indigo-700 hover:text-indigo-500"
            href="{% url 'login' %}">log in</a>.</p>
  <div>
</div>
{% endblock content %}

