{% extends 'main/base.html' %}
{% load tailwind_filters %}
{% block title %}
<title>Reset password</title>
{% endblock title %}
{% block content %}
<div class="p-6 max-w-med mx-auto bg-white rounded-xl shadow-lg flex items-center space-x-4">
    <div>
        <h1 class="text-xl font-bold mb-2">Reset Password</h1>
        <p class="text-lg mb-3">
            Fill in your email address and we'll send you a password reset link</p>
        <form action="" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn-primary">Reset Password</button>
        </form>
    </div>
</div>
{% endblock content %}

