{% extends 'main/base.html' %}
{% block title %}
<title>Invalid Account</title>
{% endblock title %}
{% block content %}
<div class="p-6 max-w-med mx-auto bg-white rounded-xl shadow-lg flex flex-col items-center space-x-4">
    <h1 class="text-lg mb-4">Sorry, but we weren't able to (re)activate your account.</h1>
    <p>It's most likely that your account is already active and that you are seeing this message<br>because you have accidentally clicked the link in the confirmation email a second time.<br>If you are not already logged in, please return to the home page and try to log in<br>using the username and password you specified when you registered.<br><br></p>
    <p>You may wish to try registering again, but with a different username.<br>
        If you're still having trouble, please click the Help link above<br>and let us know more about this issue.
    </p>
</div>
{% endblock content %}

