{% extends 'account/base.html' %}
{% block title %}
<title>Invalid Account</title>
{% endblock title %}
{% block content %}
<div class="p-6 max-w-med mx-auto bg-white rounded-xl shadow-lg flex flex-col items-center space-x-4">
    <h1 class="text-lg mb-4">Sorry, but we weren't able to activate your account.</h1>
    <p>You may wish to try registering again, but with a different username.<br>
        If you're still having trouble, please click the Help link above<br>and let us know
       more about this issue.
    </p>
</div>
{% endblock content %}

