{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
		{% block title %}
    <title>IFBT</title>
		{% endblock %}
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="apple-touch-icon" sizes="180x180"
          href="{% static 'main/images/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" 
          href="{% static 'main/images/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16"
          href="{% static 'main/images/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'main/images/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'main/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
		{% tailwind_css %}
    {% block style %}
    {% endblock style %}
	</head>

	<body class="bg-gray-50 font-sans leading-normal tracking-normal">
		 <!-- NAVBAR COMPONENT -->
    <nav class="flex items-center justify-between flex-wrap bg-gray-800 p-4 font-serif">
      <div class="flex items-center flex-shrink-0 text-white mr-6">
        <a href="{% url 'index' %}" class="font-bold text-xl hover:text-slate-300">
          Integrated Farm Budget Tool</a>
      </div>

      <div class="w-full block flex-grow sm:flex sm:items-center sm:w-auto">
        <div class="text-sm sm:flex-grow">
          {% if user.is_authenticated %}
          <a
						href="{% url 'farmyears' %}"
            class="block mt-4 sm:inline-block sm:mt-0 text-teal-200 hover:text-white text-lg mr-4"
          >
            My Farm Years
          </a>
          <a
            href="https://github.com/ddrake/Integrated_Farm_Budget_Tool/wiki"
            target="_blank"
            class="block mt-4 sm:inline-block sm:mt-0 text-teal-200 hover:text-white ml-4"
            >
            Info</a>
          <a
            href="https://github.com/ddrake/Integrated_Farm_Budget_Tool/discussions"
            target="_blank"
            class="block mt-4 sm:inline-block sm:mt-0 text-teal-200 hover:text-white ml-4"
            >
            Help
          </a>
          {% endif %}
        </div>
        <div>
          {% if user.is_authenticated %}
          <span class="mt-4 text-white">User: {{user}}</span>
          <a
						href="{% url 'logout' %}"
            class="block mt-4 sm:inline-block sm:mt-0 text-teal-200 hover:text-white ml-4"
            >Log out</a
          >
          <a
						href="{% url 'password_change' %}"
            class="block mt-4 sm:inline-block sm:mt-0 text-teal-200 hover:text-white ml-4"
            >Change Password</a
          >
          {% endif %}
        </div>
      </div>
    </nav>
		<div class="container mx-auto h-full py-10">
			<section class="flex items-center justify-center">
				{% block content %}
				{% endblock %}
			</section>
		</div>
	</body>
</html>
