{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
		{% block title %}
    <title>IFBT</title>
		{% endblock %}
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="apple-touch-icon" sizes="180x180"
          href="{% static 'main/images/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" 
          href="{% static 'main/images/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16"
          href="{% static 'main/images/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'main/images/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'main/images/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
		{% tailwind_css %}
    {% block style %}
    {% endblock style %}
    {% block script %}
    {% endblock script %}
	</head>

	<body class="bg-gray-50 font-sans leading-normal tracking-normal">
    <div class="flex flex-col h-screen">
		 <!-- NAVBAR COMPONENT -->
    <nav class="flex items-center justify-between flex-wrap bg-gray-800 py-2 px-3 font-serif print:hidden">
      <div class="flex items-center flex-shrink-0 mr-4">
        <a href="{% url 'index' %}" class="text-xl text-teal-500 hover:text-white">
          Integrated Farm Budget Tool</a>
      </div>

      <div class="w-full block flex-grow sm:flex sm:items-center sm:w-auto">
        <div class="text-sm sm:flex-grow">
          {% if user.is_authenticated %}
            <a
              href="{% url 'farmyears' %}"
              class="block mt-4 sm:inline-block sm:mt-0 text-teal-200 hover:text-white text-lg mr-4"
            >
              My Farm Years
            </a>
            {% if farmyear_id %}
            <div class="inline-block w-56 group relative cursor-pointer">
              <div class="flex items-center space-x-1 bg-gray-800 px-0">
                <a
                  href="{% url 'dashboard' pk=farmyear_id %}"
                  class="menu-hover my-0 text-lg font-medium text-teal-200  hover:text-white mx-1"
                >
                  Dashboard
                </a>
                <span>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="white"
                    class="h-5 w-5"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M19.5 8.25l-7.5 7.5-7.5-7.5"
                    />
                  </svg>
                </span>
              </div>
              <div
                class="invisible absolute z-50 flex w-full flex-col bg-gray-800 py-1 px-2 text-gray-100 shadow-xl group-hover:visible"
              >
                <span
                  class="my-1.5 block border-b border-gray-800 py-0 font-bold text-gray-200  mx-0.5 leading-tight cursor-text"
                  >Inputs</span >
                <a
                  href="{% url 'farmyear_detail' pk=farmyear_id %}"
                  class="my-1.5 block border-b border-gray-800 py-0 font-normal text-teal-200  hover:text-white mx-0.5 leading-tight"
                  >Farm Specific Data</a>
                <a
                  href="{% url 'farmcrop_list' farmyear=farmyear_id %}"
                  class="my-1.5 block border-b border-gray-800 py-0 font-normal text-teal-200  hover:text-white mx-0.5 leading-tight"
                  >Crop Acreage / Crop Insurance</a>
                <a
                  href="{% url 'farmbudgetcrop_list' farmyear=farmyear_id %}"
                  class="my-1.5 block border-b border-gray-800 py-0 font-normal text-teal-200  hover:text-white mx-0.5 leading-tight"
                  >Yield and Expense Budgets</a>
                <a
                  href="{% url 'marketcrop_list' farmyear=farmyear_id %}"
                  class="my-1.5 block border-b border-gray-800 py-0 font-normal text-teal-200  hover:text-white mx-0.5 leading-tight"
                  >Grain Marketing</a>
                <a
                  href="{% url 'fsacrop_list' farmyear=farmyear_id %}"
                  class="my-1.5 block border-b border-gray-800 py-0 font-normal text-teal-200  hover:text-white mx-0.5 leading-tight"
                  >Title Elections</a>
                <span
                  class="my-1.5 block border-b border-gray-800 py-0 font-bold text-gray-200  mx-0.5 leading-tight cursor-text"
                  >Outputs</span>
                <a
                  href="{% url 'detailedbudget' farmyear=farmyear_id %}"
                  class="my-1.5 block border-b border-gray-800 py-0 font-normal text-teal-200  hover:text-white mx-0.5 leading-tight"
                  >Detailed Budget</a>
                <a
                  href="{% url 'sensitivity' farmyear=farmyear_id %}"
                  class="mt-1.5 mb-0 block border-b border-gray-800 pt-0 pb-3 font-normal text-teal-200  hover:text-white mx-0.5 leading-tight"
                  >Sensitivity Tables</a>
              </div>
            </div>
            {% endif %}
            <a
              href="https://www.youtube.com/playlist?list=PLtK9WRr4peUo7E8guq2992McdADixAh1U"
              target="_blank"
              class="block mt-4 sm:inline-block sm:mt-0 text-teal-200 hover:text-white ml-0"
              >
              Video Tutorials</a>
            <a
              href="https://github.com/ddrake/Integrated_Farm_Budget_Tool/wiki/Users-Guide/"
              target="_blank"
              class="block mt-4 sm:inline-block sm:mt-0 text-teal-200 hover:text-white ml-3"
              >
              User Guide</a>
            <a
              href="https://github.com/ddrake/Integrated_Farm_Budget_Tool/discussions/"
              target="_blank"
              class="block mt-4 sm:inline-block sm:mt-0 text-teal-200 hover:text-white ml-3"
              >
              Help
            </a>
            <a
              href="{% url 'posts' %}"
              class="block mt-4 sm:inline-block sm:mt-0 text-teal-200 hover:text-white ml-3"
              >
              Blog
            </a>
          {% endif %}
        </div>
        <div>
          {% if user.is_authenticated %}
            <span class="mt-4 text-white">User: {{user}}</span>
            <a
              href="{% url 'logout' %}"
              class="block mt-4 sm:inline-block sm:mt-0 text-teal-200 hover:text-white ml-4"
              >Log out</a
            >
            <a
              href="{% url 'password_change' %}"
              class="block mt-4 sm:inline-block sm:mt-0 text-teal-200 hover:text-white ml-4"
              >Change Password</a
            >
            {% if not has_farm_years %}
              <a
                href="{% url 'delete_account' %}"
                class="block mt-4 sm:inline-block sm:mt-0 text-teal-200 hover:text-white ml-4"
                >Delete Account</a
              >
            {% endif %}
          {% else %}
            <a
              href="{% url 'login' %}"
              class="block mt-4 sm:inline-block sm:mt-0 text-teal-200 hover:text-white ml-4"
              >Log in</a
            >
            <a
              href="{% url 'register' %}"
              class="block mt-4 sm:inline-block sm:mt-0 text-teal-200 hover:text-white ml-4"
              >Register</a
            >
          {% endif %}
        </div>
      </div>
    </nav>
    <!--<div class="container mx-auto h-full py-10">-->
		<div class="container mx-auto mb-auto overflow-y-auto py-10 print:py-0">
			<section class="flex items-center justify-center print:items-left print:justify-left">
				{% block content %}
				{% endblock %}
			</section>
		</div>
    <footer class="px-4 py-2 bg-gray-800 text-xs text-left text-white print:hidden">
      <span class="mx-4">Copyright &copy; {% now 'Y' %} Integrated Farm Budget Tool Team.</span>
      {% if farmyear_id %}
        <a href="{% url 'privacy' farmyear=farmyear_id %}"
          class="tracking-wider text-teal-200 hover:text-white mx-4">PRIVACY</a> |
        <a href="{% url 'terms' farmyear=farmyear_id %}"
          class="tracking-wider text-teal-200 hover:text-white mx-4">TERMS &amp; CONDITIONS</a> |
        <a href="{% url 'status' farmyear=farmyear_id %}"
          class="tracking-wider text-teal-200 hover:text-white mx-4">2024 CROP YEAR STATUS</a>
      {% else %}
        <a href="{% url 'privacy' %}"
          class="tracking-wider text-teal-200 hover:text-white mx-4">PRIVACY</a> |
        <a href="{% url 'terms' %}"
          class="tracking-wider text-teal-200 hover:text-white mx-4">TERMS &amp; CONDITIONS</a> |
        <a href="{% url 'status' %}"
          class="tracking-wider text-teal-200 hover:text-white mx-4">2024 CROP YEAR STATUS</a>
      {% endif %}
    </footer>
    </div>
	</body>
</html>
