{% extends 'main/base.html' %}
{% block title %}
<title>Budget Sources</title>
{% endblock title %}
{% block content %}
{% load main_extra %}
<div class="flex flex-col w-5/6 mx-auto ">
  <div class="p-6 bg-white rounded-xl shadow-lg flex items-center space-x-4 print:shadow-none print:w-full">
    <div class="">
      <h1 class="text-xl">Yield and Expense Budget Sources</h1>
      <p class="text-base my-2">
        <em>Last modified: October 11, 2023</em>
      </p>
      <p class="text-lg my-2">
        The "Yield and Expense Budgets" available for selection at the bottom of the
        "Crop Acreage/Crop Insurance" page are derived from publicly available budgets
        published by a number of universities in the U.S.&nbsp; We're grateful to the
        faculty and staff of these universities for their efforts in assembling budgets
        from contributors in their states, and hope that the inclusion of these
        benchmark yield and expense budgets in this application provides a useful
        budgeting starting point for our users.
      </p>
      <p class="text-lg my-2">
        In most cases, in order to display a standard set of cost items,
        it's necessary to re-categorize some of the cost items of the original
        university budget. Certain items including market prices, assumed basis
        and crop insurance premiums are removed from the university budgets and
        replaced based upon user selections and current harvest prices.
        In certain instances, university budgets are incomplete (such as lacking land rent).
        In these cases, we incorporate reasonable USDA based data. Also, note that
        the budget data used in 'Yield and Expense Budgets' is derived from
        winter/spring university publications and not necessarily derived from
        the <em>latest</em> university budget released for the crop year.
      </p>
      <p class="text-lg my-2">
        Listed below are all the budget sources for the current year.
        The highlighted entry corresponds to the crop for which you clicked "Budget Source".
      </p>
      <table class="table-fixed text-sm">
        <thead>
          <tr>
            <th class="w-1/2">Institution</th>
            <th>Authors</th>
            <th class="w-36">Published</th>
        </thead>
        <tbody>
          {% for bd in budget_list %}
            <tr id="{{bd.id}}" class="target:bg-yellow-50">
              <td class="px-1">
                <a href="{{bd.source_url}}"
                     class="text-indigo-800 hover:text-indigo-600"
                  >{{bd.institution|default:None}}</a>
              </td>
              <td class="px-1">{{bd.authors|default:None}}</td>
              <td class="px-1">
                {{bd.created_on}} {% if bd.is_prevyr_based %}*{% endif %}
              </td>
            </tr>
          {% endfor %}
          {% if has_prevyr_based %}
          <tr>
            <td colspan="3">&nbsp;</td>
          </tr>
          <tr>
            <td colspan="3">* A budget for the current crop year has not yet released
              by the university's authors. This budget reflects the authors' prior year
              budget rolled forward to the current crop year using global average changes
              derived by IFBT from other current university published budgets.  When the
              current year budget is published, it will replace this budget estimate.
            </td>
          </tr>
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="mt-4 w-5/6 flex">
    <a href="{% url 'farmcrop_list' farmyear=farmyear_id %}"
       class="text-lg text-indigo-800 hover:text-indigo-600"
       >Back to Crop Acreage/Crop Insurance</a>
  </div>
</div>

{% endblock %}
