{% extends 'main/base.html' %}
{% block content %}
{% load tailwind_tags %}
<div class="p-6 max-w-med mx-auto bg-white rounded-xl shadow-lg flex items-center space-x-4">
  <div>
    {% if farm_years %}
      <h1 class="mb-1 text-2xl font-medium text-green-800">Farms</h1>
      <hr class="text-slate-300">
      <ul>
      {% for fy in farm_years %}
      <li>{{ fy }}
        <a class="text-lg text-indigo-800 hover:text-indigo-600"
           href='#'>Edit</a> |
        <a class="text-lg text-red-800 hover:text-red-600"
           href='#'>Delete</a>
      </li>
      {% endfor %}
      </ul>
    {% else %}
    <h1 class="mb-1 text-2xl font-medium text-green-800">
      You don't have any farms yet.  The first step is to add one.</h1>
    {% endif %}
    <a class="text-lg text-indigo-800 hover:text-indigo-600" href='#'>Add a farm</a> 
  </div>
</div>
{% endblock %}
