{% extends 'main/base.html' %}
{% block title %}
<title>Budget</title>
{% endblock title %}
{% block style %}
<style>
  td:empty::after{
    content: "\00a0";
  }
</style>
{% endblock style %}
{% block content %}
<div class="flex flex-col items-start"> <!-- contains all -->
  {% if not cur %} <!-- show ownly message below and dashboard link -->
  <div class="shrink-0">
    <p class="text-xl">
      A detailed budget cannot be generated for the specified farm year.<br>
      Please ensure that at least one crop has non-zero acres and has had a budget added.
    </p> 
  </div>
  {% else %}
  <form action="" class="w-full max-w-m">
    <div class="flex items-center mb-6">
      <div class="w-1/4">
        <label class="block text-gray-500 font-bold text-right mb-1 pr-4" for="type-sel">
        Budget Type
        </label>
      </div>
      <div class="md:w-1/4">
        <select 
        class="bg-white focus:outline-none border border-gray-300 rounded-lg py-2 px-4 block w-full appearance-none leading-normal text-gray-700" 
        name="type-sel" id="type-sel"
        >
          <option value="cur">Current Budget</option>
          {% if var != None %}
          <option value="base">Baseline Budget</option>
          <option value="var">Budget Variance</option>
          {% endif %}
        </select>
      </div>
      <div class="w-1/4 ml-4">
        <button id="print" class="btn-primary">Print</button>
      </div>
    </div>
  </form>
  <div class="budget" id="cur">
    <div class="flex flex-row space-x-4"> <!-- top block with revenue and key data -->
      <div class="flex flex-col"> <!-- revenue block -->
        <div class="p-6 max-w-med mx-auto bg-white rounded-xl shadow-lg flex items-center space-x-4">
          <div class="shrink-0">
            <p class="font-bold text-center">Crop Revenue</p>
          <table class="text-sm table-auto border border-indigo-800 border-2" id="revcalctable">
            <tbody>
              {% for row in cur.rev.0 %}
                <tr>
                  <td></td>
                  {% for col in row.1 %}
                    {% if forloop.parentloop.counter0 < 1 or forloop.counter0 == cur.revfmt.blank %}
                        <td class="px-1 py-0 text-center font-bold">{{col}}</td>
                    {% else %}
                      <td class="px-1 py-0 text-center font-bold underline">{{col}}</td>
                    {% endif %}
                  {% endfor %}
                </tr>
              {% endfor %}
              {% for row in cur.rev.1 %}
                <tr>
                {% if forloop.counter0 in cur.revfmt.bh %}
                  <td class="px-1 py-0 text-left font-bold">{{row.0}}</td>
                {% else %}
                  <td class="px-1 py-0 text-left">{{row.0}}</td>
                {% endif %}
                {% for col in row.1 %}
                  {% if forloop.counter0 == cur.revfmt.blank %}
                    <td class="px-1 py-0">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</td>
                  {% else %}
                    {% if forloop.parentloop.counter0 in cur.revfmt.bd %}
                      {% if forloop.parentloop.counter0 in cur.revfmt.ol %}
                        <td class="px-1 py-0 text-right font-bold overline">{{col}}</td>
                      {% elif forloop.parentloop.counter0 in cur.revfmt.ul %}
                        <td class="px-1 py-0 text-right font-bold underline">{{col}}</td>
                      {% else %}
                        <td class="px-1 py-0 text-right font-bold">{{col}}</td>
                      {% endif %}
                    {% else %}
                      {% if forloop.parentloop.counter0 in cur.revfmt.ol %}
                        <td class="px-1 py-0 text-right overline">{{col}}</td>
                      {% elif forloop.parentloop.counter0 in cur.revfmt.ul %}
                        <td class="px-1 py-0 text-right font-bold underline">{{col}}</td>
                      {% else %}
                        <td class="px-1 py-0 text-right">{{col}}</td>
                      {% endif %}
                    {% endif %}
                {% endif %}
                {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
          </table>
          </div>
        </div>
      </div> <!-- end revenue block -->

      <div class="flex flex-col"> <!-- key data block -->
        <div class="p-6 max-w-med mx-auto bg-white rounded-xl shadow-lg flex items-center space-x-4">
          <div class="shrink-0">
          <div class="flex flex-col items-center">
          <p class="font-bold text-center">Key Assumptions</p>
          <table class="text-sm table-auto border border-indigo-800 border-2 mb-2" id="yieldtbl">
            <tbody>
            {% for row in cur.keydata.modelrun.rows %}
            
            <tr>
                <td class="px-1 py-0 text-left font-bold">{{row.0}}</td>
                {% for col in row.1 %}
                  <td class="px-1 py-0 text-right">{{col}}</td>
                {% endfor %}
              </tr>
            {% endfor %}
            </tbody>
          </table>

          <table class="text-sm table-auto border border-indigo-800 border-2 mb-2" id="yieldtbl">
            <tbody>
            {% for row in cur.keydata.yield.rows %}
                <tr {% if forloop.first %} class="border-b border-black" {% endif %}>
                {% if forloop.counter0 == 0 %}
                  <td colspan="{{cur.keydata.yield.colspan}}"
                      class="px-1 py-0 text-center font-bold">{{row.0}}</td>
                {% else %}
                  <td class="px-1 py-0 text-left font-bold">{{row.0}}</td>
                {% endif %}
                {% for col in row.1 %}
                {% if forloop.parentloop.counter0 >= 1 and forloop.parentloop.counter0 <= 2 %}
                    <td class="px-1 py-0 text-center font-bold">{{col}}</td>
                  {% else %}
                    <td class="px-1 py-0 text-right">{{col}}</td>
                  {% endif %}
                {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
          </table>

          <table class="text-sm table-auto border border-indigo-800 border-2 mb-2" id="markettbl">
            <tbody>
            {% for row in cur.keydata.price.rows %}
                <tr {% if forloop.first %} class="border-b border-black" {% endif %}>
                {% if forloop.counter0 == 0 %}
                <td colspan="{{cur.keydata.cropins.colspan}}"
                  class="px-1 py-0 text-center font-bold">{{row.0}}</td>
                {% else %}
                  <td class="px-1 py-0 text-left font-bold">{{row.0}}</td>
                {% endif %}
                {% for col in row.1 %}
                  {% if forloop.parentloop.counter0 >= 1 and forloop.parentloop.counter0 <= 2 %}
                    <td class="px-1 py-0 text-center font-bold">{{col}}</td>
                  {% else %}
                    <td class="px-1 py-0 text-right">{{col}}</td>
                  {% endif %}
                {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
          </table>

          <table class="text-sm table-auto border border-indigo-800 border-2 mb-2" id="futcontracttbl">
            <tbody>
            {% for row in cur.keydata.futctr.rows %}
                <tr {% if forloop.first %} class="border-b border-black" {% endif %}>
                {% if forloop.counter0 == 0 %}
                <td colspan="{{cur.keydata.futctr.colspan}}"
                  class="px-1 py-0 text-center font-bold">{{row.0}}</td>
                {% else %}
                  <td class="px-1 py-0 text-left font-bold">{{row.0}}</td>
                {% endif %}
                {% for col in row.1 %}
                  {% if forloop.parentloop.counter0 >= 1 and forloop.parentloop.counter0 <= 2 %}
                    <td class="px-1 py-0 text-center font-bold">{{col}}</td>
                  {% else %}
                    <td class="px-1 py-0 text-right">{{col}}</td>
                  {% endif %}
                {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
          </table>

          <table class="text-sm table-auto border border-indigo-800 border-2 mb-2" id="cropinstable">
            <tbody>
            {% for row in cur.keydata.cropins.rows %}
                <tr {% if forloop.first %} class="border-b border-black" {% endif %}>
                {% if forloop.counter0 == 0 %}
                <td colspan="{{cur.keydata.cropins.colspan}}"
                  class="px-1 py-0 text-center font-bold">{{row.0}}</td>
                {% else %}
                  <td class="px-1 py-0 text-left font-bold">{{row.0}}</td>
                {% endif %}
                {% for col in row.1 %}
                  {% if forloop.parentloop.counter0 >= 1 and forloop.parentloop.counter0 <= 2 %}
                    <td class="px-1 py-0 text-center font-bold">{{col}}</td>
                  {% else %}
                    {% if forloop.parentloop.last and forloop.last %}
                      <td class="px-1 py-0 text-right border-t border-black">{{col}}</td>
                    {% else %}
                      <td class="px-1 py-0 text-right">{{col}}</td>
                    {% endif %}
                  {% endif %}
                {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
          </table>

          <table class="text-sm table-auto border border-indigo-800 border-2" id="titletbl">
            <tbody>
            {% for row in cur.keydata.title.rows %}
                <tr {% if forloop.first %} class="border-b border-black" {% endif %}>
                {% if forloop.counter0 == 0 %}
                <td colspan="{{cur.keydata.title.colspan}}"
                  class="px-1 py-0 text-center font-bold">{{row.0}}</td>
                {% else %}
                  <td class="px-1 py-0 text-left font-bold">{{row.0}}</td>
                {% endif %}
                {% for col in row.1 %}
                  {% if forloop.parentloop.counter0 == 1 %}
                    <td class="px-1 py-0 text-right font-bold">{{col}}</td>
                  {% else %}
                    <td class="px-1 py-0 text-right">{{col}}</td>
                  {% endif %}
                {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
          </table>
          </div>
          </div>
        </div>
      </div> <!-- end key data block -->
    </div> <!-- end top block with revenue and key data -->

    <div> <!-- main budget block -->
      <div class="p-6 max-w-med mx-auto bg-white rounded-xl shadow-lg flex flex-col items-center">
        <div class="w-full text-center my-1">
          <div>
            <p class="text-lg font-bold">PRE-TAX CASH FLOW BUDGET</p>
            <hr class="bg-black h-0.5">
          </div>
        </div>
        <div class="flex flex-row items-center space-x-2"> <!-- budgets -->
          <div class="shrink-0">
            <p class="font-bold text-center">Budget $(000)</p>
            <table class="text-sm table-auto border border-indigo-800 border-2" id="kdtable">
              <tbody>
              {% for row in cur.tables.kd.0 %}
                <tr>
                  <td></td>
                  {% for col in row.1 %}
                    {% if forloop.parentloop.counter0 < 1 %}
                      <td class="px-1 py-0 text-center font-bold">{{col}}</td>
                    {% else %}
                      <td class="px-1 py-0 text-center font-bold underline">{{col}}</td>
                    {% endif %}
                  {% endfor %}
                <tr>
              {% endfor %}
              {% for row in cur.tables.kd.1 %}
                <tr>
                  {% if forloop.counter0 in cur.info.bh %}
                    <td class="px-1 py-0 text-left font-bold">{{row.0}}</td>
                  {% else %}
                    <td class="px-1 py-0 text-left">{{row.0}}</td>
                  {% endif %}
                  {% for col in row.1 %}
                    {% if forloop.parentloop.counter0 in cur.info.bd %}
                      {% if forloop.parentloop.counter0 in cur.info.ol %}
                        <td class="px-1 py-0 text-right font-bold overline">{{col}}</td>
                      {% else %}
                        <td class="px-1 py-0 text-right font-bold">{{col}}</td>
                      {% endif %}
                    {% else %}
                      {% if forloop.parentloop.counter0 in cur.info.ol %}
                        <td class="px-1 py-0 text-right overline">{{col}}</td>
                      {% else %}
                        <td class="px-1 py-0 text-right">{{col}}</td>
                      {% endif %}
                    {% endif %}
                  {% endfor %}
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="shrink-0">
            <p class="font-bold text-center" >Budget $/acre</p>
            <table class="text-sm table-auto border border-indigo-800 border-2" id="patable">
              <tbody>
              {% for row in cur.tables.pa.0 %}
                <tr>
                  {% for col in row %}
                    {% if forloop.parentloop.counter0 < 1 %}
                      <td class="px-1 py-0 text-center font-bold">{{col}}</td>
                    {% else %}
                      <td class="px-1 py-0 text-center font-bold underline">{{col}}</td>
                    {% endif %}
                  {% endfor %}
                <tr>
              {% endfor %}
              {% for row in cur.tables.pa.1 %}
                <tr>
                  {% for col in row %}
                    {% if forloop.parentloop.counter0 in cur.info.ol %}
                      <td class="px-1 py-0 text-right overline">{{col}}</td>
                    {% else %}
                      <td class="px-1 py-0 text-right">{{col}}</td>
                    {% endif %}
                  {% endfor %}
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="shrink-0">
            <p class="font-bold text-center">Budget $/bushel</p>
            <table class="text-sm table-auto border border-indigo-800 border-2" id="pbtable">
              <tbody>
              {% for row in cur.tables.pb.0 %}
                <tr>
                  {% for col in row %}
                    {% if forloop.parentloop.counter0 < 1 %}
                      <td class="px-1 py-0 text-center font-bold">{{col}}</td>
                    {% else %}
                      <td class="px-1 py-0 text-center font-bold underline">{{col}}</td>
                    {% endif %}
                  {% endfor %}
                <tr>
              {% endfor %}
              {% for row in cur.tables.pb.1 %}
                <tr>
                  {% for col in row %}
                    {% if forloop.parentloop.counter0 in cur.info.ol %}
                      <td class="px-1 py-0 text-right overline">{{col}}</td>
                    {% else %}
                      <td class="px-1 py-0 text-right">{{col}}</td>
                    {% endif %}
                  {% endfor %}
                </tr>
              {% endfor %}
              </tbody>
            </table>
            </div>
          {% if cur.tables.wheatdc %}
          <div class="shrink-0">
            <p class="font-bold text-center">Wheat/DC</p>
            <table class="text-sm table-auto border border-indigo-800 border-2" id="wheatdctable">
              <tbody>
              {% for row in cur.tables.wheatdc.0 %}
                <tr>
                  {% for col in row %}
                    {% if forloop.parentloop.counter0 < 1 %}
                      <td class="px-1 py-0 text-center font-bold">{{col}}</td>
                    {% else %}
                      <td class="px-1 py-0 text-center font-bold underline">{{col}}</td>
                    {% endif %}
                  {% endfor %}
                <tr>
              {% endfor %}
              {% for row in cur.tables.wheatdc.1 %}
                <tr>
                  {% for col in row %}
                    {% if forloop.parentloop.counter0 in cur.info.ol %}
                      <td class="px-1 py-0 text-right overline">{{col}}</td>
                    {% else %}
                      <td class="px-1 py-0 text-right">{{col}}</td>
                    {% endif %}
                  {% endfor %}
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          {% endif %}
        </div>
      </div>
    </div> <!-- end main budget block -->
  </div> <!-- end cur block -->


  <div class="budget" id="base">
  {% if base %}
    <div class="flex flex-row space-x-4"> <!-- top block with revenue and key data -->
      <div class="flex flex-col"> <!-- revenue block -->
        <div class="p-6 max-w-med mx-auto bg-white rounded-xl shadow-lg flex items-center space-x-4">
          <div class="shrink-0">
            <p class="font-bold text-center">Crop Revenue</p>
          <table class="text-sm table-auto border border-indigo-800 border-2" id="revcalctable">
            <tbody>
              {% for row in base.rev.0 %}
                <tr>
                  <td></td>
                  {% for col in row.1 %}
                    {% if forloop.parentloop.counter0 < 1 or forloop.counter0 == cur.revfmt.blank %}
                      <td class="px-1 py-0 text-center font-bold">{{col}}</td>
                    {% else %}
                      <td class="px-1 py-0 text-center font-bold underline">{{col}}</td>
                    {% endif %}
                  {% endfor %}
                </tr>
              {% endfor %}
              {% for row in base.rev.1 %}
                <tr>
                {% if forloop.counter0 in base.revfmt.bh %}
                  <td class="px-1 py-0 text-left font-bold">{{row.0}}</td>
                {% else %}
                  <td class="px-1 py-0 text-left">{{row.0}}</td>
                {% endif %}
                {% for col in row.1 %}
                  {% if forloop.counter0 == base.revfmt.blank %}
                    <td class="px-1 py-0">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</td>
                  {% else %}
                    {% if forloop.parentloop.counter0 in base.revfmt.bd %}
                      {% if forloop.parentloop.counter0 in base.revfmt.ol %}
                        <td class="px-1 py-0 text-right font-bold overline">{{col}}</td>
                      {% elif forloop.parentloop.counter0 in base.revfmt.ul %}
                        <td class="px-1 py-0 text-right font-bold underline">{{col}}</td>
                      {% else %}
                        <td class="px-1 py-0 text-right font-bold">{{col}}</td>
                      {% endif %}
                    {% else %}
                      {% if forloop.parentloop.counter0 in base.revfmt.ol %}
                        <td class="px-1 py-0 text-right overline">{{col}}</td>
                      {% elif forloop.parentloop.counter0 in base.revfmt.ul %}
                        <td class="px-1 py-0 text-right font-bold underline">{{col}}</td>
                      {% else %}
                        <td class="px-1 py-0 text-right">{{col}}</td>
                      {% endif %}
                    {% endif %}
                {% endif %}
                {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
          </table>
          </div>
        </div>
      </div> <!-- end revenue block -->

      <div class="flex flex-col"> <!-- key data block -->
        <div class="p-6 max-w-med mx-auto bg-white rounded-xl shadow-lg flex items-center space-x-4">
          <div class="shrink-0">
          <div class="flex flex-col items-center">
          <p class="font-bold text-center">Key Assumptions</p>
          <table class="text-sm table-auto border border-indigo-800 border-2 mb-2" id="yieldtbl">
            <tbody>
            {% for row in base.keydata.modelrun.rows %}
            
            <tr>
                <td class="px-1 py-0 text-left font-bold">{{row.0}}</td>
                {% for col in row.1 %}
                  <td class="px-1 py-0 text-right">{{col}}</td>
                {% endfor %}
              </tr>
            {% endfor %}
            </tbody>
          </table>

          <table class="text-sm table-auto border border-indigo-800 border-2 mb-2" id="yieldtbl">
            <tbody>
            {% for row in base.keydata.yield.rows %}
                <tr {% if forloop.first %} class="border-b border-black" {% endif %}>
                {% if forloop.counter0 == 0 %}
                <td colspan="{{base.keydata.yield.colspan}}"
                  class="px-1 py-0 text-center font-bold">{{row.0}}</td>
                {% else %}
                  <td class="px-1 py-0 text-left font-bold">{{row.0}}</td>
                {% endif %}
                {% for col in row.1 %}
                  {% if forloop.parentloop.counter0 == 1 %}
                    <td class="px-1 py-0 text-right font-bold">{{col}}</td>
                  {% else %}
                    <td class="px-1 py-0 text-right">{{col}}</td>
                  {% endif %}
                {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
          </table>

          <table class="text-sm table-auto border border-indigo-800 border-2 mb-2" id="markettbl">
            <tbody>
            {% for row in base.keydata.price.rows %}
                <tr {% if forloop.first %} class="border-b border-black" {% endif %}>
                {% if forloop.counter0 == 0 %}
                <td colspan="{{base.keydata.cropins.colspan}}"
                  class="px-1 py-0 text-center font-bold">{{row.0}}</td>
                {% else %}
                  <td class="px-1 py-0 text-left font-bold">{{row.0}}</td>
                {% endif %}
                {% for col in row.1 %}
                  {% if forloop.parentloop.counter0 == 1 %}
                    <td class="px-1 py-0 text-right font-bold">{{col}}</td>
                  {% else %}
                    <td class="px-1 py-0 text-right">{{col}}</td>
                  {% endif %}
                {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
          </table>

          <table class="text-sm table-auto border border-indigo-800 border-2 mb-2" id="futcontracttbl">
            <tbody>
            {% for row in base.keydata.futctr.rows %}
                <tr {% if forloop.first %} class="border-b border-black" {% endif %}>
                {% if forloop.counter0 == 0 %}
                <td colspan="{{base.keydata.futctr.colspan}}"
                  class="px-1 py-0 text-center font-bold">{{row.0}}</td>
                {% else %}
                  <td class="px-1 py-0 text-left font-bold">{{row.0}}</td>
                {% endif %}
                {% for col in row.1 %}
                  {% if forloop.parentloop.counter0 == 1 %}
                    <td class="px-1 py-0 text-right font-bold">{{col}}</td>
                  {% else %}
                    <td class="px-1 py-0 text-right">{{col}}</td>
                  {% endif %}
                {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
          </table>

          <table class="text-sm table-auto border border-indigo-800 border-2 mb-2" id="cropinstable">
            <tbody>
            {% for row in base.keydata.cropins.rows %}
                <tr {% if forloop.first %} class="border-b border-black" {% endif %}>
                {% if forloop.counter0 == 0 %}
                <td colspan="{{base.keydata.cropins.colspan}}"
                  class="px-1 py-0 text-center font-bold">{{row.0}}</td>
                {% else %}
                  <td class="px-1 py-0 text-left font-bold">{{row.0}}</td>
                {% endif %}
                {% for col in row.1 %}
                  {% if forloop.parentloop.counter0 == 1 %}
                    <td class="px-1 py-0 text-right font-bold">{{col}}</td>
                  {% else %}
                    {% if forloop.parentloop.last and forloop.last %}
                      <td class="px-1 py-0 text-right border-t border-black">{{col}}</td>
                    {% else %}
                      <td class="px-1 py-0 text-right">{{col}}</td>
                    {% endif %}
                  {% endif %}
                {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
          </table>

          <table class="text-sm table-auto border border-indigo-800 border-2" id="titletbl">
            <tbody>
            {% for row in base.keydata.title.rows %}
                <tr {% if forloop.first %} class="border-b border-black" {% endif %}>
                {% if forloop.counter0 == 0 %}
                <td colspan="{{base.keydata.title.colspan}}"
                  class="px-1 py-0 text-center font-bold">{{row.0}}</td>
                {% else %}
                  <td class="px-1 py-0 text-left font-bold">{{row.0}}</td>
                {% endif %}
                {% for col in row.1 %}
                  {% if forloop.parentloop.counter0 == 1 %}
                    <td class="px-1 py-0 text-right font-bold">{{col}}</td>
                  {% else %}
                    <td class="px-1 py-0 text-right">{{col}}</td>
                  {% endif %}
                {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
          </table>
          </div>
          </div>
        </div>
      </div> <!-- end key data block -->
    </div> <!-- end top block with revenue and key data -->

    <div> <!-- main budget block -->
      <div class="p-6 max-w-med mx-auto bg-white rounded-xl shadow-lg flex flex-col items-center">
        <div class="w-full text-center my-1">
          <div>
            <p class="text-lg font-bold">PRE-TAX CASH FLOW BUDGET</p>
            <hr class="bg-black h-0.5">
          </div>
        </div>
        <div class="flex flex-row items-center space-x-2"> <!-- budgets -->
          <div class="shrink-0">
            <p class="font-bold text-center">Budget $(000)</p>
            <table class="text-sm table-auto border border-indigo-800 border-2" id="kdtable">
              <tbody>
              {% for row in base.tables.kd.0 %}
                <tr>
                  <td></td>
                  {% for col in row.1 %}
                    {% if forloop.parentloop.counter0 < 1 %}
                      <td class="px-1 py-0 text-center font-bold">{{col}}</td>
                    {% else %}
                      <td class="px-1 py-0 text-center font-bold underline">{{col}}</td>
                    {% endif %}
                  {% endfor %}
                <tr>
              {% endfor %}
              {% for row in base.tables.kd.1 %}
                <tr>
                  {% if forloop.counter0 in base.info.bh %}
                    <td class="px-1 py-0 text-left font-bold">{{row.0}}</td>
                  {% else %}
                    <td class="px-1 py-0 text-left">{{row.0}}</td>
                  {% endif %}
                  {% for col in row.1 %}
                    {% if forloop.parentloop.counter0 in base.info.bd %}
                      {% if forloop.parentloop.counter0 in base.info.ol %}
                        <td class="px-1 py-0 text-right font-bold overline">{{col}}</td>
                      {% else %}
                        <td class="px-1 py-0 text-right font-bold">{{col}}</td>
                      {% endif %}
                    {% else %}
                      {% if forloop.parentloop.counter0 in base.info.ol %}
                        <td class="px-1 py-0 text-right overline">{{col}}</td>
                      {% else %}
                        <td class="px-1 py-0 text-right">{{col}}</td>
                      {% endif %}
                    {% endif %}
                  {% endfor %}
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="shrink-0">
            <p class="font-bold text-center" >Budget $/acre</p>
            <table class="text-sm table-auto border border-indigo-800 border-2" id="patable">
              <tbody>
              {% for row in base.tables.pa.0 %}
                <tr>
                  {% for col in row %}
                    {% if forloop.parentloop.counter0 < 1 %}
                      <td class="px-1 py-0 text-center font-bold">{{col}}</td>
                    {% else %}
                      <td class="px-1 py-0 text-center font-bold underline">{{col}}</td>
                    {% endif %}
                  {% endfor %}
                <tr>
              {% endfor %}
              {% for row in base.tables.pa.1 %}
                <tr>
                  {% for col in row %}
                    {% if forloop.parentloop.counter0 in base.info.ol %}
                      <td class="px-1 py-0 text-right overline">{{col}}</td>
                    {% else %}
                      <td class="px-1 py-0 text-right">{{col}}</td>
                    {% endif %}
                  {% endfor %}
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="shrink-0">
            <p class="font-bold text-center">Budget $/bushel</p>
            <table class="text-sm table-auto border border-indigo-800 border-2" id="pbtable">
              <tbody>
              {% for row in base.tables.pb.0 %}
                <tr>
                  {% for col in row %}
                    {% if forloop.parentloop.counter0 < 1 %}
                      <td class="px-1 py-0 text-center font-bold">{{col}}</td>
                    {% else %}
                      <td class="px-1 py-0 text-center font-bold underline">{{col}}</td>
                    {% endif %}
                  {% endfor %}
                <tr>
              {% endfor %}
              {% for row in base.tables.pb.1 %}
                <tr>
                  {% for col in row %}
                    {% if forloop.parentloop.counter0 in base.info.ol %}
                      <td class="px-1 py-0 text-right overline">{{col}}</td>
                    {% else %}
                      <td class="px-1 py-0 text-right">{{col}}</td>
                    {% endif %}
                  {% endfor %}
                </tr>
              {% endfor %}
              </tbody>
            </table>
            </div>
          {% if base.tables.wheatdc %}
          <div class="shrink-0">
            <p class="font-bold text-center">Wheat/DC Beans</p>
            <table class="text-sm table-auto border border-indigo-800 border-2" id="wheatdctable">
              <tbody>
              {% for row in base.tables.wheatdc.0 %}
                <tr>
                  {% for col in row %}
                    {% if forloop.parentloop.counter0 < 1 %}
                      <td class="px-1 py-0 text-center font-bold">{{col}}</td>
                    {% else %}
                      <td class="px-1 py-0 text-center font-bold underline">{{col}}</td>
                    {% endif %}
                  {% endfor %}
                <tr>
              {% endfor %}
              {% for row in base.tables.wheatdc.1 %}
                <tr>
                  {% for col in row %}
                    {% if forloop.parentloop.counter0 in base.info.ol %}
                      <td class="px-1 py-0 text-right overline">{{col}}</td>
                    {% else %}
                      <td class="px-1 py-0 text-right">{{col}}</td>
                    {% endif %}
                  {% endfor %}
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          {% endif %}
        </div>
      </div>
    </div> <!-- end main budget block -->
  {% endif %}
  </div> <!-- end base block -->


  <div class="budget" id="var">
  {% if var %}
    <div class="flex flex-row space-x-4"> <!-- top block with revenue and key data -->
      <div class="flex flex-col"> <!-- revenue block -->
        <div class="p-6 max-w-med mx-auto bg-white rounded-xl shadow-lg flex items-center space-x-4">
          <div class="shrink-0">
            <p class="font-bold text-center">Crop Revenue</p>
          <table class="text-sm table-auto border border-indigo-800 border-2" id="revcalctable">
            <tbody>
              {% for row in var.rev.0 %}
                <tr>
                  <td></td>
                  {% for col in row.1 %}
                    {% if forloop.parentloop.counter0 < 1 or forloop.counter0 == cur.revfmt.blank %}
                      <td class="px-1 py-0 text-center font-bold">{{col}}</td>
                    {% else %}
                      <td class="px-1 py-0 text-center font-bold underline">{{col}}</td>
                    {% endif %}
                  {% endfor %}
                </tr>
              {% endfor %}
              {% for row in var.rev.1 %}
                <tr>
                {% if forloop.counter0 in var.revfmt.bh %}
                  <td class="px-1 py-0 text-left font-bold">{{row.0}}</td>
                {% else %}
                  <td class="px-1 py-0 text-left">{{row.0}}</td>
                {% endif %}
                {% for col in row.1 %}
                  {% if forloop.counter0 == var.revfmt.blank %}
                    <td class="px-1 py-0">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</td>
                  {% else %}
                    {% if forloop.parentloop.counter0 in var.revfmt.bd %}
                      {% if forloop.parentloop.counter0 in var.revfmt.ol %}
                        <td class="px-1 py-0 text-right font-bold overline">{{col}}</td>
                      {% elif forloop.parentloop.counter0 in var.revfmt.ul %}
                        <td class="px-1 py-0 text-right font-bold underline">{{col}}</td>
                      {% else %}
                        <td class="px-1 py-0 text-right font-bold">{{col}}</td>
                      {% endif %}
                    {% else %}
                      {% if forloop.parentloop.counter0 in var.revfmt.ol %}
                        <td class="px-1 py-0 text-right overline">{{col}}</td>
                      {% elif forloop.parentloop.counter0 in var.revfmt.ul %}
                        <td class="px-1 py-0 text-right font-bold underline">{{col}}</td>
                      {% else %}
                        <td class="px-1 py-0 text-right">{{col}}</td>
                      {% endif %}
                    {% endif %}
                {% endif %}
                {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
          </table>
          </div>
        </div>
      </div> <!-- end revenue block -->

      <div class="flex flex-col"> <!-- key data block -->
        <div class="p-6 max-w-med mx-auto bg-white rounded-xl shadow-lg flex items-center space-x-4">
          <div class="shrink-0">
          <div class="flex flex-col items-center">
          <p class="font-bold text-center">Key Assumptions</p>
          <table class="text-sm table-auto border border-indigo-800 border-2 mb-2" id="yieldtbl">
            <tbody>
            {% for row in var.keydata.modelrun.rows %}
            
            <tr>
                <td class="px-1 py-0 text-left font-bold">{{row.0}}</td>
                {% for col in row.1 %}
                  <td class="px-1 py-0 text-right">{{col}}</td>
                {% endfor %}
              </tr>
            {% endfor %}
            </tbody>
          </table>

          <table class="text-sm table-auto border border-indigo-800 border-2 mb-2" id="yieldtbl">
            <tbody>
            {% for row in var.keydata.yield.rows %}
                <tr {% if forloop.first %} class="border-b border-black" {% endif %}>
                {% if forloop.counter0 == 0 %}
                <td colspan="{{var.keydata.yield.colspan}}"
                  class="px-1 py-0 text-center font-bold">{{row.0}}</td>
                {% else %}
                  <td class="px-1 py-0 text-left font-bold">{{row.0}}</td>
                {% endif %}
                {% for col in row.1 %}
                  {% if forloop.parentloop.counter0 == 1 %}
                    <td class="px-1 py-0 text-right font-bold">{{col}}</td>
                  {% else %}
                    <td class="px-1 py-0 text-right">{{col}}</td>
                  {% endif %}
                {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
          </table>

          <table class="text-sm table-auto border border-indigo-800 border-2 mb-2" id="markettbl">
            <tbody>
            {% for row in var.keydata.price.rows %}
                <tr {% if forloop.first %} class="border-b border-black" {% endif %}>
                {% if forloop.counter0 == 0 %}
                <td colspan="{{var.keydata.cropins.colspan}}"
                  class="px-1 py-0 text-center font-bold">{{row.0}}</td>
                {% else %}
                  <td class="px-1 py-0 text-left font-bold">{{row.0}}</td>
                {% endif %}
                {% for col in row.1 %}
                  {% if forloop.parentloop.counter0 == 1 %}
                    <td class="px-1 py-0 text-right font-bold">{{col}}</td>
                  {% else %}
                    <td class="px-1 py-0 text-right">{{col}}</td>
                  {% endif %}
                {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
          </table>

          <table class="text-sm table-auto border border-indigo-800 border-2 mb-2" id="futcontracttbl">
            <tbody>
            {% for row in var.keydata.futctr.rows %}
                <tr {% if forloop.first %} class="border-b border-black" {% endif %}>
                {% if forloop.counter0 == 0 %}
                <td colspan="{{var.keydata.futctr.colspan}}"
                  class="px-1 py-0 text-center font-bold">{{row.0}}</td>
                {% else %}
                  <td class="px-1 py-0 text-left font-bold">{{row.0}}</td>
                {% endif %}
                {% for col in row.1 %}
                  {% if forloop.parentloop.counter0 == 1 %}
                    <td class="px-1 py-0 text-right font-bold">{{col}}</td>
                  {% else %}
                    <td class="px-1 py-0 text-right">{{col}}</td>
                  {% endif %}
                {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
          </table>

          <table class="text-sm table-auto border border-indigo-800 border-2 mb-2" id="cropinstable">
            <tbody>
            {% for row in var.keydata.cropins.rows %}
                <tr {% if forloop.first %} class="border-b border-black" {% endif %}>
                {% if forloop.counter0 == 0 %}
                <td colspan="{{var.keydata.cropins.colspan}}"
                  class="px-1 py-0 text-center font-bold">{{row.0}}</td>
                {% else %}
                  <td class="px-1 py-0 text-left font-bold">{{row.0}}</td>
                {% endif %}
                {% for col in row.1 %}
                  {% if forloop.parentloop.counter0 == 1 %}
                    <td class="px-1 py-0 text-right font-bold">{{col}}</td>
                  {% else %}
                    {% if forloop.parentloop.last and forloop.last %}
                      <td class="px-1 py-0 text-right border-t border-black">{{col}}</td>
                    {% else %}
                      <td class="px-1 py-0 text-right">{{col}}</td>
                    {% endif %}
                  {% endif %}
                {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
          </table>

          <table class="text-sm table-auto border border-indigo-800 border-2" id="titletbl">
            <tbody>
            {% for row in var.keydata.title.rows %}
                <tr {% if forloop.first %} class="border-b border-black" {% endif %}>
                {% if forloop.counter0 == 0 %}
                <td colspan="{{var.keydata.title.colspan}}"
                  class="px-1 py-0 text-center font-bold">{{row.0}}</td>
                {% else %}
                  <td class="px-1 py-0 text-left font-bold">{{row.0}}</td>
                {% endif %}
                {% for col in row.1 %}
                  {% if forloop.parentloop.counter0 == 1 %}
                    <td class="px-1 py-0 text-right font-bold">{{col}}</td>
                  {% else %}
                    <td class="px-1 py-0 text-right">{{col}}</td>
                  {% endif %}
                {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
          </table>
          </div>
          </div>
        </div>
      </div> <!-- end key data block -->
    </div> <!-- end top block with revenue and key data -->

    <div> <!-- main budget block -->
      <div class="p-6 max-w-med mx-auto bg-white rounded-xl shadow-lg flex flex-col items-center">
        <div class="w-full text-center my-1">
          <div>
            <p class="text-lg font-bold">PRE-TAX CASH FLOW BUDGET</p>
            <hr class="bg-black h-0.5">
          </div>
        </div>
        <div class="flex flex-row items-center space-x-2"> <!-- budgets -->
          <div class="shrink-0">
            <p class="font-bold text-center">Budget $(000)</p>
            <table class="text-sm table-auto border border-indigo-800 border-2" id="kdtable">
              <tbody>
              {% for row in var.tables.kd.0 %}
                <tr>
                  <td></td>
                  {% for col in row.1 %}
                    {% if forloop.parentloop.counter0 < 1 %}
                      <td class="px-1 py-0 text-center font-bold">{{col}}</td>
                    {% else %}
                      <td class="px-1 py-0 text-center font-bold underline">{{col}}</td>
                    {% endif %}
                  {% endfor %}
                <tr>
              {% endfor %}
              {% for row in var.tables.kd.1 %}
                <tr>
                  {% if forloop.counter0 in var.info.bh %}
                    <td class="px-1 py-0 text-left font-bold">{{row.0}}</td>
                  {% else %}
                    <td class="px-1 py-0 text-left">{{row.0}}</td>
                  {% endif %}
                  {% for col in row.1 %}
                    {% if forloop.parentloop.counter0 in var.info.bd %}
                      {% if forloop.parentloop.counter0 in var.info.ol %}
                        <td class="px-1 py-0 text-right font-bold overline">{{col}}</td>
                      {% else %}
                        <td class="px-1 py-0 text-right font-bold">{{col}}</td>
                      {% endif %}
                    {% else %}
                      {% if forloop.parentloop.counter0 in var.info.ol %}
                        <td class="px-1 py-0 text-right overline">{{col}}</td>
                      {% else %}
                        <td class="px-1 py-0 text-right">{{col}}</td>
                      {% endif %}
                    {% endif %}
                  {% endfor %}
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="shrink-0">
            <p class="font-bold text-center" >Budget $/acre</p>
            <table class="text-sm table-auto border border-indigo-800 border-2" id="patable">
              <tbody>
              {% for row in var.tables.pa.0 %}
                <tr>
                  {% for col in row %}
                    {% if forloop.parentloop.counter0 < 1 %}
                      <td class="px-1 py-0 text-center font-bold">{{col}}</td>
                    {% else %}
                      <td class="px-1 py-0 text-center font-bold underline">{{col}}</td>
                    {% endif %}
                  {% endfor %}
                <tr>
              {% endfor %}
              {% for row in var.tables.pa.1 %}
                <tr>
                  {% for col in row %}
                    {% if forloop.parentloop.counter0 in var.info.ol %}
                      <td class="px-1 py-0 text-right overline">{{col}}</td>
                    {% else %}
                      <td class="px-1 py-0 text-right">{{col}}</td>
                    {% endif %}
                  {% endfor %}
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="shrink-0">
            <p class="font-bold text-center">Budget $/bushel</p>
            <table class="text-sm table-auto border border-indigo-800 border-2" id="pbtable">
              <tbody>
              {% for row in var.tables.pb.0 %}
                <tr>
                  {% for col in row %}
                    {% if forloop.parentloop.counter0 < 1 %}
                      <td class="px-1 py-0 text-center font-bold">{{col}}</td>
                    {% else %}
                      <td class="px-1 py-0 text-center font-bold underline">{{col}}</td>
                    {% endif %}
                  {% endfor %}
                <tr>
              {% endfor %}
              {% for row in var.tables.pb.1 %}
                <tr>
                  {% for col in row %}
                    {% if forloop.parentloop.counter0 in var.info.ol %}
                      <td class="px-1 py-0 text-right overline">{{col}}</td>
                    {% else %}
                      <td class="px-1 py-0 text-right">{{col}}</td>
                    {% endif %}
                  {% endfor %}
                </tr>
              {% endfor %}
              </tbody>
            </table>
            </div>
          {% if var.tables.wheatdc %}
          <div class="shrink-0">
            <p class="font-bold text-center">Wheat/DC Beans</p>
            <table class="text-sm table-auto border border-indigo-800 border-2" id="wheatdctable">
              <tbody>
              {% for row in var.tables.wheatdc.0 %}
                <tr>
                  {% for col in row %}
                    {% if forloop.parentloop.counter0 < 1 %}
                      <td class="px-1 py-0 text-center font-bold">{{col}}</td>
                    {% else %}
                      <td class="px-1 py-0 text-center font-bold underline">{{col}}</td>
                    {% endif %}
                  {% endfor %}
                <tr>
              {% endfor %}
              {% for row in var.tables.wheatdc.1 %}
                <tr>
                  {% for col in row %}
                    {% if forloop.parentloop.counter0 in var.info.ol %}
                      <td class="px-1 py-0 text-right overline">{{col}}</td>
                    {% else %}
                      <td class="px-1 py-0 text-right">{{col}}</td>
                    {% endif %}
                  {% endfor %}
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          {% endif %}
        </div>
      </div>
    </div> <!-- end main budget block -->
  {% endif %}
  </div> <!-- end var block -->

  {% endif %}
  <div class="mt-2">
    <a class="text-lg text-indigo-800 hover:text-indigo-600"
       href="{% url 'dashboard' pk=farmyear_id %}">Back to Dashboard</a>
  </div>
</div>

<script>
  (() => {

    function managevisibility() {
      let type = document.querySelector("#type-sel").value
      const matches = document.querySelectorAll(".budget");
      matches.forEach((div) => {
        if (div.id !== type) {
          div.style.display = 'none';
        }
        else {
          div.style.display = 'block';
        }
      })
    }

    document
      .addEventListener('DOMContentLoaded', (event) => {
          managevisibility()
      });

    document
      .querySelector("#type-sel")
         .addEventListener("change", (event) => {
             managevisibility()
         });
 
    document
      .querySelector("#print")
        .addEventListener("click", (event) => {
          let type = document.querySelector("#type-sel").value
          location.href = "{% url 'downloadbudget' farmyear=farmyear_id %}" + `?b=${type}`
          event.preventDefault();
        });
  })();
</script>
{% endblock %}
