{% extends 'main/base.html' %}
{% block title %}
<title>{% if farmyear.pk %}Update{% else %}Create{% endif %} farm year</title>
{% endblock title %}
{% load tailwind_filters crispy_forms_tags %}
{% block content %}
<div class="p-6 max-w-med mx-auto bg-white rounded-xl shadow-lg flex items-center space-x-4">
    <div>
        <h1 class="block text-xl mb-2">{% if farmyear.pk %}Update{% else %}Create{% endif %}
          Farm Year</h1>
        {% crispy form %}
    </div>
</div>
<script>
 (() => {
    let xhr;
    
    document.addEventListener('DOMContentLoaded', () => {
      let state =  document.getElementById("state").value
      if (state) {
        makeRequest(state)
      }
    });


    document
      .getElementById("state")
         .addEventListener("change", (event) => {
             makeRequest(event.target.value)
         });

    function makeRequest(state_id) {
      xhr = new XMLHttpRequest();

      if (!xhr) {
        alert("Giving up :( Cannot create an XMLHTTP instance");
        return false;
      }
      xhr.onreadystatechange = updateCounties;
      const url = `counties_for_state/${state_id}`
      xhr.open("GET", url);
      xhr.send();
    }

    function updateCounties() {
      if (xhr.readyState === XMLHttpRequest.DONE) {
        if (xhr.status === 200) {
            let options = '';
            const resp = JSON.parse(xhr.responseText);
            resp.data.forEach(cty => {
                options += `<option value=${cty[0]}>${cty[1]}</option>\n`;
            });
            document.getElementById("county_code").innerHTML = options;
        } else {
          alert("Request for counties failed.");
        }
      }
    }
  })();
</script>
{% endblock content %}

