{% extends 'main/base.html' %}
{% load tailwind_filters %}
{% block content %}
<div class="p-6 max-w-med mx-auto bg-white rounded-xl shadow-lg flex items-center space-x-4">
    <div>
        <h1 class="block text-xl mb-2">Add a farm for the current crop year</h1>
        <form action="" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn-primary">Create farm</button>
        </form>
    </div>
</div>
<script>
 (() => {
    let xhr;
    document
      .getElementById("state")
         .addEventListener("change", (event) => {
             makeRequest(event.target.value)
         });

    function makeRequest(state_id) {
      xhr = new XMLHttpRequest();

      if (!xhr) {
        alert("Giving up :( Cannot create an XMLHTTP instance");
        return false;
      }
      xhr.onreadystatechange = updateCounties;
      const url = `counties_for_state/${state_id}`
      xhr.open("GET", url);
      xhr.send();
    }

    function updateCounties() {
      if (xhr.readyState === XMLHttpRequest.DONE) {
        if (xhr.status === 200) {
            let options = '';
            const resp = JSON.parse(xhr.responseText);
            resp.data.forEach(cty => {
                options += `<option value=${cty[0]}>${cty[1]}</option>\n`;
            });
            document.getElementById("county_code").innerHTML = options;
        } else {
          alert("Request for counties failed.");
        }
      }
    }
  })();
</script>
{% endblock content %}

