{% extends 'main/base.html' %}
{% block title %}
<title>Farm year</title>
{% endblock title %}
{% block content %}
{% load main_extra %}
<div class="p-6 max-w-med mx-auto bg-white rounded-xl shadow-lg flex items-center space-x-4">
  <div class="shrink-0">
  <h1 class="text-xl">{{farmyear}}</h1>
  <h1 class="text-lg">{{farmyear.location}}</h1>
  <dl class="grid grid-cols-[repeat(2,auto)] gap-x-4 w-max">
    <dt class="font-semibold">Owned Land Information</dt><dd></dd>
    <dt>Cropland acres owned</dt>
    <dd class="text-right">{{farmyear.cropland_acres_owned|floatformat:"g"}}</dd>
    <dt>Annual land interest expense</dt>
    <dd class="text-right">${{farmyear.annual_land_int_expense|floatformat:"g"}}</dd>
    <dt>Annual land principal payment</dt>
    <dd class="text-right">${{farmyear.annual_land_principal_pmt|floatformat:"g"}}</dd>
    <dt>Property taxes</dt>
    <dd class="text-right">${{farmyear.property_taxes|floatformat:"g"}}</dd>
    <dt>Land repairs</dt>
    <dd class="text-right">${{farmyear.land_repairs|floatformat:"g"}}</dd>
    <dt class="italic">&nbsp;&nbsp;Total Owned Land Costs</dt>
    <dd class="text-right border-t border-black">
    ${{farmyear.total_owned_land_expense|floatformat:"g"}}</dd>
    <dt>&nbsp;</dt><dd></dd>
    <dt class="font-semibold">Rented Land Information</dt><dd></dd>
    <dt>Straight cash rent acres</dt>
    <dd class="text-right">{{farmyear.cash_rented_acres|floatformat:"g"}}</dd>
    <dt>Variable rent acres</dt>
    <dd class="text-right">{{farmyear.variable_rented_acres|floatformat:"g"}}</dd>
    <dt class="italic">&nbsp;&nbsp;Total Rented Acres</dt>
    <dd class="text-right border-t border-black">{{farmyear.total_rented_acres|floatformat:"g"}}</dd>
    <dt>Variable rent cap/floor</dt>
    <dd class="text-right">{{farmyear.var_rent_cap_floor_frac|pct}}</dd>
    <dt>&nbsp;</dt><dd></dd>
    <dt class="italic">Total Farmed Acres</dt>
    <dd class="text-right">{{farmyear.total_farm_acres|floatformat:"g"}}</dd>
    <dt>&nbsp;</dt><dd></dd>
    <dt class="italic">Full Season Planted Acres</dt>
    <dd class="text-right">{{farmyear.total_fs_planted_acres|floatformat:"g"}}</dd>
    <dt class="italic">Double Crop Planted Acres</dt>
    <dd class="text-right">{{farmyear.fac_planted_acres|floatformat:"g"}}</dd>
    <dt class="italic">Total Planted Acres</dt>
    <dd class="text-right border-t border-black">
    {{farmyear.total_planted_acres|floatformat:"g"}}</dd>
    <dt>&nbsp;</dt><dd></dd>
    <dt class="font-semibold">Non-grain income and expense</dt><dd></dd>
    <dt>Other non-grain income</dt>
    <dd class="text-right">${{farmyear.other_nongrain_income|floatformat:"g"}}</dd>
    <dt>Other non-grain expense</dt>
    <dd class="text-right">${{farmyear.other_nongrain_expense|floatformat:"g"}}</dd>
    <dt>&nbsp;</dt><dd></dd>
    <dt class="font-semibold">Farm Level Title Settings</dt><dd></dd>
    <dt>Eligible entities for FSA cap</dt>
    <dd class="text-right">{{farmyear.eligible_persons_for_cap}}</dd>
    <dt>Estimated Sequestration Percent</dt>
    <dd class="text-right">{{farmyear.est_sequest_frac|pct:"2"}}</dd>
    <dt>&nbsp;</dt><dd></dd>
    <dt class="font-semibold">Report Controls</dt><dd></dd>
    <dt>Model run date manual</dt>
    <dd class="text-right">{{farmyear.is_model_run_date_manual|yesno:"Yes,No"}}</dd>
    <dt>Manual model run date</dt>
    <dd class="text-right">{{farmyear.manual_model_run_date}}</dd>
    <dt>Actual Model run date</dt>
    <dd class="text-right">{{farmyear.get_model_run_date}}</dd>
  <div>
  <a class="text-xl text-indigo-800 hover:text-indigo-600"
     href="{% url 'farmyear_update' pk=farmyear.pk %}">Edit</a>&nbsp; | &nbsp;
  <a class="text-xl text-indigo-800 hover:text-indigo-600"
     href="{% url 'dashboard' pk=farmyear.pk %}">Back to Dashboard</a>
  </div>
</div>
{% endblock %}
