{% extends 'main/base.html' %}
{% block title %}
<title>Update farm year</title>
{% endblock title %}
{% load tailwind_filters crispy_forms_tags %}
{% block content %}

<div class="flex flex-col gap-y-4">
  <div class="p-6 max-w-med mx-auto bg-white rounded-xl shadow-lg flex items-center space-x-4 overflow-y-scroll">
    <div>
        <h1 class="text-xl mb-2">Update Farm Year</h1>
        <p>{{ object }}, {{ object.location }}</p>
        {% crispy form %}
        </form>
    </div>
  </div>
  <div>
    {% if request.GET.next == '1' %}
      <a class="text-xl text-indigo-800 hover:text-indigo-600"
         href="{% url 'fsacrop_list' farmyear=object.pk %}">Back to Title Elections</a>
    {% else %}
     <a class="text-lg text-indigo-800 hover:text-indigo-600"
        href="{% url 'farmyear_detail' pk=object.pk %}"> Back to Farm Specific Data</a>
    {% endif %}
  </div>
</div>
<script>
/*
For reference on this rounding implementation, see: https://stackoverflow.com/questions/11832914/
For reference on setting formData, see: https://stackoverflow.com/questions/4517366/
*/
(() => {
    document.addEventListener('DOMContentLoaded', (event) => {
        document.querySelector("#farmyearform").reset();
        document.querySelectorAll(".percent").forEach((fld) => {
            fld.value = +(parseFloat(fld.value)*100).toFixed(2);
        })
    });

    const form = document.querySelector("#farmyearform");
    form.addEventListener("formdata", (e) => {
        document.querySelectorAll(".percent").forEach((fld) => {
            let strval = (parseFloat(fld.value)/100).toFixed(4);
            e.formData.set(fld.getAttribute("name"), strval);
        })
    });
})();
</script>
{% endblock content %}

