{% extends 'main/base.html' %}
{% load static %}
{% load tailwind_filters crispy_forms_tags %}
{% block title %}
<title>Edit farm crop</title>
{% endblock title %}
{% block script %}
<script src="{% static 'main/scripts/farmcrop_form.js' %}"></script>
{% endblock script %}
{% block content %}

<div class="flex flex-col gap-y-4">
  <div class="p-6 max-w-med mx-auto bg-white rounded-xl shadow-lg flex items-center space-x-4">
    <div>
        <h1 class="block text-xl mb-2">Edit Farm Crop {{ farmcrop }}</h1>
        {% crispy form %}
    </div>
  </div>
  <div>
     <a class="text-lg text-indigo-800 hover:text-indigo-600"
        href="{% url 'farmcrop_list' farmyear=farmcrop.farm_year_id %}">
        Back to Crop Acreage / Crop Insurance</a>
  </div>
</div>
<script>
 (() => {
     document.addEventListener('DOMContentLoaded', () => {
        const old_farm_year = '{{farmcrop.old_farm_year}}';
        let covLevel = document.getElementById("base_coverage_level");
        let origval = "{{ farmcrop.base_coverage_level }}";
        let covType = document.getElementById("coverage_type")
        let val = covType.value;
        scaleUpPercents();
        updateBaseCoverageLevels(val); 
        covLevel.value = origval;
        if (old_farm_year === 'True') {
           lockAllInputs(true);
        }
    });
    document
      .getElementById("coverage_type")
         .addEventListener("change", (event) => {
             updateBaseCoverageLevels(event.target.value);
             manageScoAndProtFactor(event.target.value,
               {{ farmcrop.farm_year.crop_year }})
         });
    document
      .getElementById("id-farmcropform")
         .addEventListener("submit", (event) => {
            document.getElementById("id_sco_use").removeAttribute('disabled', '')
            document.getElementById("id_prot_factor").removeAttribute('disabled', '')
        });

    const form = document.querySelector("#id-farmcropform");
    form.addEventListener("formdata", (e) => {
        const formData = e.formData;
        document.querySelectorAll(".percent").forEach((fld) => {
            let strval = (parseFloat(fld.value)/100).toFixed(4);
            console.log(strval)
            formData.set(fld.getAttribute("name"), strval);
        })
    });
    form.addEventListener("submit", (e) => {
       lockAllInputs(false);
    });

  })();
</script>
{% endblock content %}

