{% extends 'main/base.html' %}
{% block title %}
<title>Update farm year</title>
{% endblock title %}
{% load tailwind_filters crispy_forms_tags %}
{% block content %}
<div class="p-6 max-w-med mt-24 mx-auto bg-white rounded-xl shadow-lg flex items-center space-x-4 overflow-y-scroll">
    <div>
        <h1 class="text-xl mb-2">Update Farm Year</h1>
        <p>{{ object }}, {{ object.location }}</p>
        {% crispy form %}
        </form>
    </div>
</div>
<script>
(() => {
    window.addEventListener('load', (event) => {
        document.querySelector("#farmyearform").reset();
        console.log('hello')
        const matches = document.querySelectorAll(".percent");
        matches.forEach((fld) => {
            console.log(fld.value)
            fld.value = parseFloat(fld.value)*100;
            console.log(fld.value)
        })
    });

    const form = document.querySelector("#farmyearform");
    form.addEventListener("submit", (event) => {
        const matches = document.querySelectorAll(".percent");
        matches.forEach((fld) => {
            console.log(fld.value)
            fld.value = parseFloat(fld.value)/100;
            console.log(fld.value)
        })
    });
})();
</script>
{% endblock content %}

