{% extends 'main/base.html' %}
{% block title %}
<title>Update farm year</title>
{% endblock title %}
{% load tailwind_filters crispy_forms_tags %}
{% block content %}
<div class="p-6 max-w-med mt-24 mx-auto bg-white rounded-xl shadow-lg flex items-center space-x-4 overflow-y-scroll">
    <div>
        <h1 class="text-xl mb-2">Update Farm Year</h1>
        <p>{{ object }}, {{ object.location }}</p>
        {% crispy form %}
        </form>
    </div>
</div>
<script>
/*
For reference on this rounding implementation, see: https://stackoverflow.com/questions/11832914/
For reference on setting formData, see: https://stackoverflow.com/questions/4517366/
*/
(() => {
    document.addEventListener('DOMContentLoaded', (event) => {
        document.querySelector("#farmyearform").reset();
        document.querySelectorAll(".percent").forEach((fld) => {
            fld.value = +(parseFloat(fld.value)*100).toFixed(2);
        })
    });

    const form = document.querySelector("#farmyearform");
    form.addEventListener("formdata", (e) => {
        document.querySelectorAll(".percent").forEach((fld) => {
            let strval = (parseFloat(fld.value)/100).toFixed(4);
            e.formData.set(fld.getAttribute("name"), strval);
        })
    });
})();
</script>
{% endblock content %}

