{% extends 'main/base.html' %}
{% load static %}
{% load tailwind_filters crispy_forms_tags %}
{% block title %}
<title>{% if farmyear.pk %}Update{% else %}Create{% endif %} farm year</title>
{% endblock title %}
{% block script %}
<script src="{% static 'main/scripts/farmyear_form.js' %}"></script>
{% endblock script %}
{% block content %}
<div class="flex flex-col gap-y-4">
  <div class="p-6 max-w-med mx-auto bg-white rounded-xl shadow-lg flex items-center space-x-4">
    <div>
        <h1 class="block text-xl mb-2">{% if farmyear.pk %}Update{% else %}Create{% endif %}
          Farm Year</h1>
        {% crispy form %}
    </div>
  </div>
  <div>
     <a class="text-lg text-indigo-800 hover:text-indigo-600"
        href="{% url 'farmyears' %}">
        Back to Farm Years</a>
  </div>
</div>
<script>
 (() => {
    let xhr;
    
    document.addEventListener('DOMContentLoaded', () => {
      let state =  document.getElementById("state").value
      if (state) {
        makeRequest(state)
      }
      // hack to get the correct label to display
      const lbl = document.querySelector('#div_id_county_code label')
      lbl.firstChild.nodeValue="Primary county"
    });

    document
      .getElementById("state")
         .addEventListener("change", (event) => {
             makeRequest(event.target.value)
         });

  })();
</script>
{% endblock content %}

