{% extends 'main/base.html' %}
{% block title %}
<title>Edit farm crop</title>
{% endblock title %}
{% load tailwind_filters crispy_forms_tags %}
{% block content %}
<div class="p-6 max-w-med mx-auto bg-white rounded-xl shadow-lg flex items-center space-x-4">
    <div>
        <h1 class="block text-xl mb-2">Edit Farm Crop {{ farmcrop }}</h1>
        {% crispy form %}
    </div>
</div>
<script>
 (() => {
     document.addEventListener('DOMContentLoaded', () => {
        let covLevel = document.getElementById("base_coverage_level");
        let origval = "{{ farmcrop.base_coverage_level }}";
        let covType = document.getElementById("coverage_type")
        let val = covType.value;
        updateBaseCoverageLevels(val); 
        covLevel.value = origval;
        manageScoAndProtFactor(val);
    });
    document
      .getElementById("coverage_type")
         .addEventListener("change", (event) => {
             updateBaseCoverageLevels(event.target.value);
             manageScoAndProtFactor(event.target.value)
         });
    document
      .getElementById("id-farmcropform")
         .addEventListener("submit", (event) => {
            document.getElementById("id_sco_use").removeAttribute('disabled', '')
            document.getElementById("id_prot_factor").removeAttribute('disabled', '')
        });

    window.addEventListener('load', (event) => {
        document.querySelector("#id-farmcropform").reset();
        console.log('hello')
        const matches = document.querySelectorAll(".percent");
        matches.forEach((fld) => {
            console.log(fld.value)
            fld.value = parseFloat(fld.value)*100;
            console.log(fld.value)
        })
    });

    const form = document.querySelector("#id-farmcropform");
    form.addEventListener("submit", (event) => {
        const matches = document.querySelectorAll(".percent");
        matches.forEach((fld) => {
            console.log(fld.value)
            fld.value = parseFloat(fld.value)/100;
            console.log(fld.value)
        })
    });

    function updateBaseCoverageLevels(value) {
        let options = '<option value="">--------</option>\n';
        if (value !== '') {
            let farmlevels = [['0.5','50%'],['0.55','55%'],['0.6','60%'],['0.65','65%'],
                              ['0.7','70%'],['0.75','75%'],['0.8','80%'],['0.85','85%']];
            let ctylevels = [['0.7','70%'],['0.75','75%'],['0.8','80%'],['0.85','85%'],
                             ['0.9','90%']];
            let levels = value === '0' ? ctylevels : farmlevels;
            levels.forEach(opt => {
                options += `<option value=${opt[0]}>${opt[1]}</option>\n` 
            });
        }
        document.getElementById("base_coverage_level").innerHTML = options;
    }

    function manageScoAndProtFactor(value) {
        if (value !== '') {
            let scouse = document.getElementById("id_sco_use")
            let ecolevel = document.getElementById("eco_level")
            let prot = document.getElementById("id_prot_factor")
            if (value === '0') {
                scouse.checked = false;
                ecolevel.value = '';
                scouse.setAttribute('disabled', '')
                ecolevel.setAttribute('disabled', '')
                prot.removeAttribute('disabled', '')
            } else {
                scouse.removeAttribute('disabled', '')
                ecolevel.removeAttribute('disabled', '')
                prot.value = '1.0';
                prot.setAttribute('disabled', '')
            }
        }
    }


  })();
</script>
{% endblock content %}

