{% extends 'main/base.html' %}
{% block title %}
<title>Edit farm budget crop</title>
{% endblock title %}
{% load tailwind_filters crispy_forms_tags %}
{% block content %}
<div class="p-6 max-w-med mx-auto bg-white rounded-xl shadow-lg flex items-center space-x-4">
    <div>
      <h1 class="block text-xl">Edit farm budget crop items {{ farmbudgetcrop }}</h1>
      <p class="text-base mb-2">Cost and revenue items are in $/acre. Yields are in bpa</p>
        {% crispy form %}
    </div>
</div>

<script>
(() => {
    window.addEventListener('load', (event) => {
        document.querySelector("#farmbudgetform").reset();
        console.log('hello')
        const matches = document.querySelectorAll(".percent");
        matches.forEach((fld) => {
            console.log(fld.value)
            fld.value = parseFloat(fld.value)*100;
            console.log(fld.value)
        })
    });

    const form = document.querySelector("#farmbudgetform");
    form.addEventListener("submit", (event) => {
        const matches = document.querySelectorAll(".percent");
        matches.forEach((fld) => {
            console.log(fld.value)
            fld.value = parseFloat(fld.value)/100;
            console.log(fld.value)
        })
    });
})();
</script>
{% endblock content %}

