{% extends 'main/base.html' %}
{% block content %}
{% load tailwind_tags %}
<div class="p-6 max-w-med mx-auto bg-white rounded-xl shadow-lg flex items-center space-x-4">
  {% for fsacrop in fsacrop_list %}
  <div class="shrink-0">
    <h1 class="text-xl">{{fsacrop}}</h1>
    <p><strong>PLC base acres</strong>: {{fsacrop.plc_base_acres}} </p>
    <p><strong>ARC-CO base acres</strong>: {{fsacrop.arcco_base_acres}} </p>
    <p><strong>PLC yield</strong>: {{fsacrop.plc_yield}} </p>
    <p><strong>Planted acres</strong>: {{fsacrop.planted_acres}} </p>
    <a class="text-xl text-indigo-800 hover:text-indigo-600"
       href="#">Edit</a>
  </div>
  {% endfor %}
</div>
{% endblock %}
