{% extends 'main/base.html' %}
{% load main_extra %}

{% block title %}
<title>FSA crops</title>
{% endblock title %}

{% block content %}
<div class="flex flex-col">
  <div class="width-full text-center text-xl mb-2">Farm Specific Title Information</div>
  <div class="p-6 max-w-med mx-auto bg-white rounded-xl shadow-lg flex items-center space-x-4 print:shadow-none">
    {% for fsacrop in fsacrop_list %}
    <div class="shrink-0">
      <h1 class="text-xl">{{fsacrop}}</h1>
      <dl class="grid grid-cols-[repeat(2,auto)] gap-x-4 w-max">
        <dt>PLC base acres:</dt>
        <dd class="text-right">{{fsacrop.plc_base_acres|floatformat:"1g"}}</dd>
        <dt>ARC-CO base acres:</dt>
        <dd class="text-right">{{fsacrop.arcco_base_acres|floatformat:"1g"}}</dd>
        <dt>PLC yield:</dt>
        <dd class="text-right">{{fsacrop.plc_yield}}</dd>
        <dt>RMA final county yield
        {% if not fsacrop.cty_expected_yield.1 %}(est){% endif %}:</dt>
        <dd class="text-right">{{fsacrop.cty_expected_yield.0|floatformat:"1g"}}</dd>
      </dl>
      <a class="text-xl text-indigo-800 hover:text-indigo-600 print:hidden"
         href="{% url 'fsacrop_update' pk=fsacrop.pk %}">Edit</a>
    </div>
    {% endfor %}
  </div>
  <div class="width-full text-center text-xl mt-4 mb-2">Program Specific Title Information</div>
  <div class="p-6 max-w-med mx-auto bg-white rounded-xl shadow-lg flex items-center space-x-4 print:shadow-none">
    {% for fsacrop in fsacrop_list %}
    <div class="shrink-0">
      <h1 class="text-xl">{{fsacrop}}</h1>
      <dl class="grid grid-cols-[repeat(2,auto)] gap-x-4 w-max">
        <dt>PLC Effective Reference Rate:</dt>
        <dd class="text-right">${{fsacrop.effective_ref_price|floatformat:"2g"}}</dd>
        <dt>National Loan Rate:</dt>
        <dd class="text-right">${{fsacrop.natl_loan_rate|floatformat:"2g"}}</dd>
        <dt>ARC-CO Benchmark County Yield:</dt>
        <dd class="text-right">{{fsacrop.benchmark_revenue.benchmark_yield|floatformat:"0g"}}</dd>
        <dt>ARC-CO Benchmark County Price:</dt>
        <dd class="text-right">${{fsacrop.benchmark_revenue.benchmark_price|floatformat:"2g"}}</dd>
        <dt>ARC-CO Benchmark County Revenue:</dt>
        <dd class="text-right">${{fsacrop.benchmark_revenue.benchmark_revenue|floatformat:"2g"}}</dd>
        <dt>Estimated Sensitized MYA Price:</dt>
        <dd class="text-right">${{fsacrop.sens_mya_price|floatformat:"2g"}}</dd>
      </dl>
    </div>
    {% endfor %}
  </div>
  <div class="p-6 max-w-med mt-4 mx-auto bg-white rounded-xl shadow-lg flex items-center space-x-4 print:shadow-none">
    <div class="shrink-0">
      <dl class="grid grid-cols-[repeat(2,auto)] gap-x-4 w-max">
        <dt>Eligible entities for title cap:</dt>
        <dd class="text-right">{{fsacrop_list.0.farm_year.eligible_persons_for_cap}}</dd>
        <dt>Estimated Sequestration Percent:</dt>
        <dd class="text-right">{{fsacrop_list.0.farm_year.est_sequest_frac|pct:"2"}}</dd>
        <a class="text-xl text-indigo-800 hover:text-indigo-600 print:hidden"
           href="{% url 'farmyear_update_ft' pk=fsacrop_list.0.farm_year.pk %}">Edit</a>
      </dl>
    </div>
  </div>
  <a class="text-xl text-indigo-800 hover:text-indigo-600 print:hidden"
     href="{% url 'dashboard' pk=fsacrop_list.0.farm_year.pk %}">Back to Dashboard</a>
</div>
{% endblock %}
