{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<div class="p-6 max-w-med mx-auto bg-white rounded-xl shadow-lg flex items-center space-x-4 font-serif">
  <div class="shrink-0">
   <img class="h-96 w-96" src="{% static 'main/images/smoketreesucker.png' %}" alt="ChitChat Logo">
  </div>
  <div>
    <div>
      <div class="text-4xl font-medium text-black mb-2">Integrated Farm Budget Tool</div>
      <p class="text-xl text-slate-600 mb-5">Helping farmers across the U.S. evaluate and manage their financial risk</p>
    </div>
    <div class="mt-2">
      {% if not user.is_authenticated %}
      <a class="text-xl text-indigo-700 hover:text-indigo-500"
         href="{% url 'register' %}">Register</a> for free or
      <a class="text-xl text-indigo-700 hover:text-indigo-500"
         href="{% url 'login' %}">Log In</a>
      <br>
      <hr class="slate-500 mt-3 mb-2">
      {% endif %}
      
      <p class="text-base mb-2">This open source project is based at Github</p>
      <ul class="text-base">
        <li>See the <a class="text-indigo-700 hover:text-indigo-500"
               href="https://github.com/ddrake/Integrated_Farm_Budget_Tool/wiki">
            Wiki</a> for help getting started and other information.
        </li>
        <li>Visit the <a class="text-indigo-700 hover:text-indigo-500"
               href="https://github.com/ddrake/Integrated_Farm_Budget_Tool/discussions">
            Discussions forum
          </a> to get answers and contribute to the IFBT community.
        </li>
        <li>Visit the <a class="text-indigo-700 hover:text-indigo-500"
               href="https://github.com/ddrake/Integrated_Farm_Budget_Tool">
            Repository</a> to view the source code.
        </li>
    <div>
  <div>
</div>
{% endblock %}
