{% extends 'main/base.html' %}
{% load static %}

{% block style %}
<style>
.slides-container {
	-ms-overflow-style: none; /* Internet Explorer 10+ */
	scrollbar-width: none; /* Firefox */
}
.slides-container::-webkit-scrollbar {
	display: none; /* Safari and Chrome */
}
</style>
{% endblock style %}

{% block content %}
<div class="p-6 max-w-med mx-auto bg-white rounded-xl shadow-lg flex items-center space-x-4 font-serif">
  <div>
    <div class="text-center">
      <div class="text-4xl font-medium text-black mb-2">Integrated Farm Budget Tool</div>
      <p class="text-2xl text-slate-600 mb-5">VISUALIZE RISK | MANAGE RISK</p>
    </div>
    <div class="mt-2 px-8">
      {% if not user.is_authenticated %}
        <div class="text-center">
          <a class="text-xl text-indigo-700 hover:text-indigo-500"
             href="{% url 'register' %}">Register</a> for free or
          <a class="text-xl text-indigo-700 hover:text-indigo-500"
             href="{% url 'login' %}">Log In</a>
        </div>
      {% endif %}
    </div>
    <div id="app" class="max-w-screen-lg mx-auto px-4 md:px-8 py-6 transition-all duration-500 ease-linear">
      <div class="w-[800px] mx-auto">
        <div class="slides-container h-[400px] flex snap-x snap-mandatory overflow-hidden overflow-x-auto rounded scroll-smooth before:w-[45vw] before:shrink-0 after:w-[45vw] after:shrink-0 md:before:w-0 md:after:w-0">
          <div class="slide aspect-square h-full flex-shrink-0 snap-center rounded overflow-hidden">
            <img class="w-full h-full object-cover" src="{% static 'main/images/corn.png' %}">
          </div>
          <div class="slide aspect-square h-full flex-shrink-0 snap-center rounded overflow-hidden">
            <img class="w-full h-full object-cover" src="{% static 'main/images/soy.png' %}">
          </div>
          <div class="slide aspect-square h-full flex-shrink-0 snap-center rounded overflow-hidden">
            <img class="w-full h-full object-cover" src="{% static 'main/images/wheat.png' %}">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
var slidesContainer = document.querySelector(".slides-container");
var slideWidth = slidesContainer.querySelector(".slide").clientWidth;
var index = 1;
function nextSlide() {
  // console.log("index is " + index)
  index += 1;
  if (index > 3) {
    index = 1;
    slidesContainer.scrollLeft = 0;
  } else {
    slidesContainer.scrollLeft += slideWidth;
  }
}
setInterval(nextSlide, 3000);
</script>
{% endblock %}
