{% extends 'main/base.html' %}
{% block title %}
<title>Market crops</title>
{% endblock title %}
{% block content %}
{% load main_extra %}
<div class="flex flex-col">
<div class="p-6 max-w-med mx-auto bg-white rounded-xl shadow-lg flex items-center space-x-4">
  {% for d in mc_priceinfo_list %}
  <div class="shrink-0">
    <h1 class="text-xl">{{d.marketcrop}}</h1>
    <dl class="grid grid-cols-[repeat(2,auto)] gap-x-4 w-max">
      <dt>Price sensitivity factor</dt>
      <dd class="text-right">{{d.marketcrop.price_factor|pct}}</dd>
      <dt class="font-semibold">Grain Marketing</dt><dd></dd>
      <dt>Planted acres</dt>
      <dd class="text-right">{{d.marketcrop.planted_acres|floatformat:"0g"}}</dd>
      <dt>Expected Total Bushels</dt>
      <dd class="text-right">{{d.marketcrop.expected_total_bushels|floatformat:"0g"}}</dd>
      <dt>Contracted bushels - futures</dt>
      <dd class="text-right">{{d.marketcrop.contracted_bu|floatformat:"0g"}}</dd>
      <dt>Percent of expected</dt>
      <dd class="text-right">{{d.marketcrop.futures_pct_of_expected|pct}}</dd>
      <dt>Avg. contract price</dt>
      <dd class="text-right">${{d.marketcrop.avg_contract_price|floatformat:"2g"}}</dd>
      <dt>Contracted bushels - basis</dt>
      <dd class="text-right">{{d.marketcrop.basis_bu_locked|floatformat:"0g"}}</dd>
      <dt>Percent of expected</dt>
      <dd class="text-right">{{d.marketcrop.basis_pct_of_expected|pct}}</dd>
      <dt>Avg. locked basis</dt>
      <dd class="text-right">${{d.marketcrop.avg_locked_basis|floatformat:"2g"}}</dd>
      <dt>Assumed basis for new crop</dt>
      <dd class="text-right">${{d.marketcrop.assumed_basis_for_new|floatformat:"2g"}}</dd>
      <dt>&nbsp;</dt><dd></dd>
      <dt class="font-semibold">Market Crop Information</dt><dd></dd>
      <dt>Recent Price</dt>
      <dd class="text-right">${{d.priceinfo.price|floatformat:"2g"}}</dd>
      <dt>Exchange</dt>
      <dd class="text-right">{{d.priceinfo.exchange}}</dd>
      <dt>Futures month</dt>
      <dd class="text-right">{{d.priceinfo.futures_month}}</dd>
      <dt>Priced on</dt>
      <dd class="text-right">{{d.priceinfo.priced_on}}</dd>
    </dl>
    <a class="text-lg text-indigo-800 hover:text-indigo-600"
       href="{% url 'marketcrop_update' pk=d.marketcrop.pk %}">Edit</a>
  </div>
  {% endfor %}
</div>
<div class="mt-2">
  <a class="text-lg text-indigo-800 hover:text-indigo-600"
     href="{% url 'dashboard' pk=marketcrop_list.0.farm_year.pk %}">Back to Dashboard</a>
</div>
</div>
{% endblock %}
