{% extends 'main/base.html' %}
{% block content %}
{% load tailwind_tags %}
<div class="p-6 max-w-med mx-auto bg-white rounded-xl shadow-lg flex items-center space-x-4">
  {% for marketcrop in marketcrop_list %}
  <div class="shrink-0">
    <h1 class="text-xl">{{marketcrop}}</h1>
    <p><strong>Contracted bushels</strong>: {{marketcrop.contracted_bu}} </p>
    <p><strong>Avg. contract price</strong>: {{marketcrop.avg_contract_price}} </p>
    <p><strong>Basis bushels locked</strong>: {{marketcrop.basis_bu_locked}} </p>
    <p><strong>Avg. locked basis</strong>: {{marketcrop.avg_locked_basis}} </p>
    <p><strong>Assumed basis for new crop</strong>: {{marketcrop.assumed_basis_for_new}} </p>
    <p><strong>Planted acres</strong>: {{marketcrop.planted_acres}} </p>
    <a class="text-lg text-indigo-800 hover:text-indigo-600"
       href="#">Edit</a>
  </div>
  {% endfor %}
</div>
{% endblock %}
