{% extends 'main/base.html' %}
{% block title %}
<title>Edit market crop</title>
{% endblock title %}
{% load tailwind_filters crispy_forms_tags %}
{% block content %}

<div class="flex flex-col gap-y-4">
  <div class="p-6 max-w-med mx-auto bg-white rounded-xl shadow-lg flex items-center space-x-4">
    <div>
      <h1 class="block text-xl mb-2">Edit market crop {{ marketcrop }}</h1>
      {% crispy form %}
    </div>
  </div>  <!-- end form block -->
  <div class="p-6 max-w-med mx-auto bg-white rounded-xl shadow-lg flex flex-col items-center">
    <h2 class="text-xl">Futures Contracts</h2>
    {% if futures_contracts %}
      <table>
        <tbody class="class=border-collapse border border-slate-400">
          <tr class="font-bold">
            <td class="border border-slate-300 px-2">Contract Date</td>
             <td class="border border-slate-300 px-2">Bushels</td>
             <td class="border border-slate-300 px-2">Price</td>
             <td class="border border-slate-300 px-2">Terminal</td>
             <td class="border border-slate-300 px-2">Contract #</td>
             <td class="border border-slate-300 px-2">Delivery Start</td>
             <td class="border border-slate-300 px-2">Delivery End</td>
             <td class="border border-slate-300 px-2">Edit</td>
             <td class="border border-slate-300 px-2">Delete</td>
           </tr>
           {% for ct in futures_contracts %}
           <tr>
             <td class="border border-slate-300 px-2">{{ct.contract_date}}</td>
             <td class="border border-slate-300 px-2">{{ct.bushels}}</td>
             <td class="border border-slate-300 px-2">{{ct.price|floatformat:"2g"}}</td>
             <td class="border border-slate-300 px-2">{{ct.terminal}}</td>
             <td class="border border-slate-300 px-2">{{ct.contract_number}}</td>
             <td class="border border-slate-300 px-2">{{ct.delivery_start_date}}</td>
             <td class="border border-slate-300 px-2">{{ct.delivery_end_date}}</td>
             <td class="border border-slate-300 px-2">
               <a
                 class="text-indigo-800 hover:text-indigo-600"
                 href="{% url 'contract_update' pk=ct.pk %}">Edit</a>
             </td>
             <td class="border border-slate-300 px-2">
               <a
                 class="text-red-800 hover:text-red-600"
                 href="{% url 'contract_delete' pk=ct.pk %}">Delete</a>
             </td>
           </tr>
           {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p class="text-base">No Futures Contracts have been entered yet</p>
    {% endif %}
    <div>
      <a class="text-lg text-indigo-800 hover:text-indigo-600"
         href="{% url 'contract_create' market_crop=marketcrop.pk is_basis=0 %}">
          Add a Futures Contract</a>
    </div>
  </div> <!-- end futures contracts block -->
  <div class="p-6 max-w-med mx-auto bg-white rounded-xl shadow-lg flex flex-col items-center">
    <h2 class="text-xl">Basis Contracts</h2>
    {% if basis_contracts %}
      <table>
        <tbody class="class=border-collapse border border-slate-400">
          <tr class="font-bold">
            <td class="border border-slate-300 px-2">Contract Date</td>
             <td class="border border-slate-300 px-2">Bushels</td>
             <td class="border border-slate-300 px-2">Price</td>
             <td class="border border-slate-300 px-2">Terminal</td>
             <td class="border border-slate-300 px-2">Contract #</td>
             <td class="border border-slate-300 px-2">Delivery Start</td>
             <td class="border border-slate-300 px-2">Delivery End</td>
             <td class="border border-slate-300 px-2">Edit</td>
             <td class="border border-slate-300 px-2">Delete</td>
           </tr>
           {% for ct in basis_contracts %}
           <tr>
             <td class="border border-slate-300 px-2">{{ct.contract_date}}</td>
             <td class="border border-slate-300 px-2">{{ct.bushels}}</td>
             <td class="border border-slate-300 px-2">{{ct.price|floatformat:"2g"}}</td>
             <td class="border border-slate-300 px-2">{{ct.terminal}}</td>
             <td class="border border-slate-300 px-2">{{ct.contract_number}}</td>
             <td class="border border-slate-300 px-2">{{ct.delivery_start_date}}</td>
             <td class="border border-slate-300 px-2">{{ct.delivery_end_date}}</td>
             <td class="border border-slate-300 px-2">
               <a
                 class="text-indigo-800 hover:text-indigo-600"
                 href="{% url 'contract_update' pk=ct.pk %}">Edit</a>
             </td>
             <td class="border border-slate-300 px-2">
               <a
                 class="text-red-800 hover:text-red-600"
                 href="{% url 'contract_delete' pk=ct.pk %}">Delete</a>
             </td>
           </tr>
           {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p class="text-base">No Basis Contracts have been entered yet</p>
    {% endif %}
    <div>
      <a class="text-lg text-indigo-800 hover:text-indigo-600"
         href="{% url 'contract_create' market_crop=marketcrop.pk is_basis=1 %}">
          Add a Basis Contract</a>
    </div>
  </div>  <!-- end basis contracts block -->
  <div class="mt-2">
    <a class="text-lg text-indigo-800 hover:text-indigo-600"
       href="{% url 'marketcrop_list' farmyear=marketcrop.farm_year.pk %}">Back to Market Crops</a>
  </div>
</div>
<script>
(() => {
    document.addEventListener('DOMContentLoaded', (event) => {
        document.querySelector("#marketcropform").reset();
        document.querySelectorAll(".percent").forEach((fld) => {
            fld.value = +(parseFloat(fld.value)*100).toFixed(2);
        })
    });

    const form = document.querySelector("#marketcropform");
    form.addEventListener("formdata", (e) => {
        document.querySelectorAll(".percent").forEach((fld) => {
            let strval = (parseFloat(fld.value)/100).toFixed(4);
            e.formData.set(fld.getAttribute("name"), strval);
        })
    });

})();
</script>
{% endblock content %}

