{% extends 'main/base.html' %}
{% block title %}
<title>Edit market crop</title>
{% endblock title %}
{% load tailwind_filters crispy_forms_tags %}
{% block content %}
<div class="p-6 max-w-med mx-auto bg-white rounded-xl shadow-lg flex items-center space-x-4">
    <div>
      <h1 class="block text-xl mb-2">Edit market crop {{ marketcrop }}</h1>
      {% crispy form %}
    </div>
</div>
<script>
(() => {
    document.addEventListener('DOMContentLoaded', (event) => {
        document.querySelector("#marketcropform").reset();
        document.querySelectorAll(".percent").forEach((fld) => {
            fld.value = +(parseFloat(fld.value)*100).toFixed(2);
        })
    });

    const form = document.querySelector("#marketcropform");
    form.addEventListener("formdata", (e) => {
        document.querySelectorAll(".percent").forEach((fld) => {
            let strval = (parseFloat(fld.value)/100).toFixed(4);
            e.formData.set(fld.getAttribute("name"), strval);
        })
    });

})();
</script>
{% endblock content %}

