<!-- Force Tailwind to generate the css I need for the sensitivity tables
	   by adding all the Tailwind tags explicitly here -->

<table>
	<tbody>
		<tr>
			<td class="border border-black text-right">more</td>
			<td class="border-t border-black bg-slate-100">trying</td>
			<td class="border-b border-black bg-slate-100">trying</td>
			<td class="border-l border-black bg-slate-100">trying</td>
			<td class="border-r border-black font-bold text-left">more</td>
			<td class="border-x border-black">more</td>
			<td class="border-y border-black">more</td>
			<td class="underline text-center">more</td>
			<td class="bg-slate-100">stuff</td>
			<td class="bg-green-100">stuff</td>
			<td class="bg-red-100">stuff</td>
		</tr>
	</tbody>
</table>
<div id="btnBarContainer" class="flex flex-col bg-white">
	<div id="btnBarLabel"
		   class="text-left text-sm px-1 pb-1 text-gray-700 font-bold">
		   Increment to Assumed Basis
	</div>
	<div id="btnBar"
		   class="w-fit flex flex-row text-sm border border-gray-300 rounded-lg p-1">
		<div id="btn0" class="btn flex box-border border-2 border-slate-300 w-16 h-8 items-center justify-center bg-indigo-100 hover:bg-indigo-50 cursor-pointer">-$0.40</div>
		<div id="btn1" class="btn flex box-border border-2 border-slate-300 w-16 h-8 items-center justify-center bg-indigo-100 hover:bg-indigo-50 cursor-pointer">-$0.20</div>
		<div id="btn2" class="btn flex box-border border-2 w-16 h-8 items-center justify-center selected border-indigo-700 bg-indigo-200 cursor-default">$0.00</div>
		<div id="btn3" class="btn flex box-border border-2 border-slate-300 w-16 h-8 items-center justify-center bg-indigo-100 hover:bg-indigo-50 cursor-pointer">$0.20</div>
		<div id="btn4" class="btn flex box-border border-2 border-slate-300 w-16 h-8 items-center justify-center bg-indigo-100 hover:bg-indigo-50 cursor-pointer">$0.40</div>
	</div>
</div>
