{% extends 'main/base.html' %}
{% block title %}
<title>Sensitivity tables</title>
{% endblock title %}
{% block content %}
<div class="flex flex-col">
  <div class="p-6 max-w-med mx-auto bg-white rounded-xl shadow-lg flex items-center space-x-4">
    <div class="shrink-0">
      {% if tables == None %}
        <p class="text-xl">
          Sensitivity tables cannot be generated for the specified farm year.<br>
          Please ensure that at least one crop has non-zero acres and has had a budget added.
        </p> 
      {% else %}
      <form action="" class="w-full">
        <div class="flex items-center mb-6">
        <div class="w-5/6 pr-10 border-r border-gray-300">
        {% if info.hasdiff %}
          <label class="block text-gray-700 text-sm font-bold mb-px"
            for="diff">Differences</label>
          <input type="checkbox" id="diff">
          <small class="block text-gray-600 mb-2">Show differences between the current and previous sets of sensitized values</small>
        {% endif %}
          <label class="block text-gray-700 text-sm font-bold mb-2"
            for="type-sel">Type</label>
          <select 
            class="bg-white focus:outline-none border border-gray-300 rounded-lg py-2 px-4 block w-full appearance-none leading-normal text-gray-700" 
            name="type-sel" id="type-sel"
            >
            <option value="cashflow">Cash Flow</option>
            <option value="revenue">Revenue (before any title and indemnity payments)</option>
            <option value="title">Title</option>
            <option value="indem">Indemnity</option>
            <option value="cost">Cost</option>
          </select>
          <label class="block text-gray-700 text-sm font-bold mb-2"
            for="crop-sel">Crop</label>
          <select 
            class="mb-4 bg-white focus:outline-none border border-gray-300 rounded-lg py-2 px-4 block w-full appearance-none leading-normal text-gray-700" 
            name="crop-sel" id="crop-sel"
            >
            {% for tag, name in info.crops %}
            <option value="{{tag}}">{{name}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="w-1/6 ml-6">
          <button id="print" class="btn-primary">Print</button>
        </div>
        </div>
      </form> 
      {% for sensitem in tables.items %}
        <table class="text-sm table-auto border border-indigo-800 border-2 stbl" id="{{sensitem.0}}">
        <tbody>
        {% for row in sensitem.1 %}
          <tr>
            {% for col in row %}
            <td {% if col.1 %} colspan="{{col.1}}" {% endif %} class="px-1 py-0 {{col.2}}">
              {{col.0}}
            </td>
            {% endfor %}
          </tr>
        {% endfor %}
        </tbody>
      </table>
      {% endfor %}
      {% endif %}
    </div>
  </div> <!-- end sensitivity table -->

  <div class="mt-2">
    <a class="text-lg text-indigo-800 hover:text-indigo-600"
       href="{% url 'dashboard' pk=info.farmyear %}">Back to Dashboard</a>
  </div>
</div>
<script>
  (() => {
    // set these like nincr = {{info.nincr}}
    const nincr = {{info.nincr}}
    const basis_incr = {{info.basis_incr}}

    function createButtonBar() {
      if (basis_incr === 0)
        return;

      const btnBarContainer = document.createElement("div")
      const btnBarLabel = document.createElement("div")
      const btnBar = document.createElement("div");
      btnBarContainer.setAttribute('id', 'btnBarContainer')
      btnBarContainer.setAttribute('class', 'flex flex-col bg-white')
      btnBarLabel.setAttribute('id', 'btnBarLabel')
      btnBarLabel.setAttribute('class', 'text-left text-sm px-1 pb-1 text-gray-700 font-bold')
      const btnBarLabelContent = document.createTextNode('Increment to Assumed Basis')
      btnBarLabel.appendChild(btnBarLabelContent)
      btnBar.setAttribute('id', 'btnBar')
      btnBar.setAttribute('class', ('w-fit flex flex-row text-sm border border-gray-300 ' +
                          'rounded-lg p-1'))
      const nst = (nincr - 1)/2
      const basisIncrArray = Array.from({ length: nincr }, (_, i) => -nst + i)
                                  .map((x) => (x*basis_incr).toFixed(2).split("-"))
                                  .map((x) => x.length === 1 ? '$'+x[0] : '-$'+x[1]);
      basisIncrArray.forEach(function(value, i) {
        const btn = document.createElement("div")
        btn.setAttribute('id', `btn${i}`)
        btn.setAttribute('class',('btn flex box-border border-2 border-slate-300 w-16 ' +
          'h-8 items-center justify-center bg-indigo-100 hover:bg-indigo-50 cursor-pointer'))
        const btnContent = document.createTextNode(value)
        btn.appendChild(btnContent)
        btn.addEventListener('click', (event) => {
          setSelectedButton(event.target)
        })
        btnBar.appendChild(btn)
      })
      btnBarContainer.appendChild(btnBarLabel)
      btnBarContainer.appendChild(btnBar)

      // add the newly created element and its content into the DOM
      const cropSel = document.getElementById("crop-sel");
      cropSel.after(btnBarContainer);
      // select the center button ($0.00) by default
      let btn = document.getElementById(`btn${(nincr-1)/2}`)
      setSelectedButton(btn)
    }
    function setSelectedButton(elSel) {
      document.querySelectorAll('#btnBar .selected').forEach((el) => {
        el.classList.remove('selected', 'border-indigo-700', 'bg-indigo-200',
                            'cursor-default')
        el.classList.add('border-slate-300', 'bg-indigo-100', 'hover:bg-indigo-50',
                         'cursor-pointer')
      })
      elSel.classList.remove('border-slate-300', 'bg-indigo-100',
                             'hover:bg-indigo-50', 'cursor-pointer')
      elSel.classList.add('selected', 'border-indigo-700',
                          'bg-indigo-200', 'cursor-default')
      managevisibility()
    }
    function manageButtonbarVisibility() {
      if (basis_incr === 0)
        return;
      let buttonBar = document.querySelector("#btnBarContainer")
      let type = document.querySelector("#type-sel").value
      buttonBar.style.display = 
        ['revenue', 'cashflow'].includes(type) ? 'flex' : 'none'
    }
    function managevisibility() {
      diffcb = document.querySelector("#diff")
      let diff = (diffcb ? document.querySelector("#diff").checked : false)
      let type = document.querySelector("#type-sel").value
      let crop = document.querySelector("#crop-sel").value
      let basistype = ['revenue', 'cashflow'].includes(type)
      let tblid = ''
      if (basis_incr === 0 || !basistype) {
        tblid = type + (diff ? '_diff' : '') + `_${crop}`
      }
      else {
        let btnSel = document.querySelectorAll('#btnBar .selected')
        console.log(btnSel)
        let table_num = btnSel[0].id[3]
        console.log(table_num, 'again')
        tblid = `${type}_${table_num}` + (diff ? '_diff' : '') + `_${crop}`
      }
      const matches = document.querySelectorAll(".stbl");
      matches.forEach((tbl) => {
        if (tbl.id !== tblid) {
          tbl.style.display = 'none';
        }
        else {
          tbl.style.display = 'block';
        }
      })
    }

    document
      .addEventListener('DOMContentLoaded', (event) => {
          createButtonBar()
          managevisibility()
      });

    document
      .querySelector("#type-sel")
         .addEventListener("change", (event) => {
             managevisibility()
             manageButtonbarVisibility()
         });
    document
      .querySelector("#crop-sel")
         .addEventListener("change", (event) => {
             managevisibility()
         });
    document
      .querySelector("#diff")
         .addEventListener("change", (event) => {
             managevisibility()
         });
    document
      .querySelector("#print")
        .addEventListener("click", (event) => {
          let diff = (diffcb ? document.querySelector("#diff").checked : false)
          let type = document.querySelector("#type-sel").value
          let crop = document.querySelector("#crop-sel").value
          let tblid = type + (diff ? '_diff' : '') + "_" + crop;
          location.href = "{% url 'downloadsens' farmyear=farmyear_id %}" + `?tag=${tblid}`
          event.preventDefault();
        });
  })();
</script>
{% endblock %}


