<!-- try to force Tailwind to generate the css I need for the sensitivity tables
	   by adding all the Tailwind tags explicitly here -->

<table>
	<tbody>
		<tr>
			<td class="border border-black text-right">more</td>
			<td class="border-t border-black bg-slate-100">trying</td>
			<td class="border-b border-black bg-slate-100">trying</td>
			<td class="border-l border-black bg-slate-100">trying</td>
			<td class="border-r border-black font-bold text-left">more</td>
			<td class="border-x border-black">more</td>
			<td class="border-y border-black">more</td>
			<td class="underline text-center">more</td>
		</tr>
	</tbody>
</table>
