{% extends 'main/base.html' %}
{% block title %}
<title>2024 Crop Year Status</title>
{% endblock title %}
{% block content %}
{% load main_extra %}
<div class="p-6 w-1/2 mx-auto bg-white rounded-xl shadow-lg flex items-center space-x-4 print:shadow-none print:w-full">
  <div class="">
    <h1 class="text-xl">2024 Crop Year Status Updates</h1>
    <p class="text-base my-2">
      <em>Updates on the status of integration of external data for the 2024 crop year
        will be announced in this section as these integrations occur.</em>
    </p>
    <h1 class="text-xl">General 2024 Crop Year Status Information</h1>
    <p class="text-base my-2">
      To produce accurate estimates for 33 U.S. states,
      the Integrated Farm Budget Tool relies on several outside data sources
      <ul class="list-disc list-inside mb-2">
        <li>RMA Crop insurance premiums and indemnities</li>
        <li>ARC-CO and PLC Title Program payments</li>
        <li>Futures prices</li>
        <li>Yield and cost budget amounts</li>
      </ul>
      These data sources become avialable at different times during the crop year.
      Each release allows us to improve the accuracy of our 2024 estimates.
    </p>
    <h2 class="text-lg mt-2">Crop Insurance</h2>
    <p class="text-base my-2">
      Before we can compute estimates of crop insurance premiums and indemnities
      for 2024 crop year spring-planted crops, we need the actuarial data from the USDA Risk
      Management Agency, which will be released in late November, 2023.
      With this, we can compute premium and indemnity estimates using price volatility
      factors from 2023 and an estimate of the final projected price as placeholders
      for the price volatility factors and projected price values which are released by the
      RMA at the end of each price discovery period.  There are different price discovery
      periods for different states and counties, with the earliest period beginning
      December 15, 2023 and ending January 15, 2024.
    </p>
    <p>
      During the projected price discovery period, the projected price is estimated as a
      simple average of the relevant future prices for that period.  Before the projected
      price discovery period, the projected price is estimated simply by the current futures
      price.
    </p>
    <h2 class="text-lg mt-2">ARC-CO and PLC Title</h2>
    <p class="text-base my-2">
     To compute ARC-CO and PLC Title estimates for 2024, we need the 2024 Effective Reference
     Price, National Loan Rate, and the table of Benchmark Revenue Values which should be
     released by the USDA in early January, 2024.  We will use 2023 values as placeholders
     for these for the period from January 1, 2024 to the date of the USDA release.
     The only other external data set required to compute title is the MYA price for each
     crop.  Our application generates estimates of this price using a combination of
     futures prices and WASDE Projected Average Farm Prices.  The WASDE reports for the
     2024 crop year will be released monthly beginning around May 10, 2024.
    </p>
    <h2 class="text-lg mt-2">Futures Prices</h2>
    <p class="text-base my-2">
     We will begin to collect future prices corresponding to 2024 crops around
     December 1, 2023.  This makes it possible to compute RMA projected price estimates
     for spring-planted crops in counties where the discovery period begins in mid December. 
    </p>
    <h2 class="text-lg mt-2">Yield and cost budget amounts</h2>
    <p class="text-base my-2">
     We gather budget cost and yield information from various respected public sources
     and process them into a consistent format.  We expect 2024 budget data to begin to be
     released in December, 2023, with more releases occurring at various times 
     through March, 2024.  As budgets are collected and processed, they will be imported
     into the application to be available for users.  If you select budgets for your
     farm's crops on January 1, 2024, you may find that the options are limited, and it
     may be difficult to find a budget that relates well to your county.  If your
     main objective is to get comfortable working with the application so you can use it
     to guide your decisions on crop insurance and title, you might wish
     to leave those budgets in place to get started, then switch them out later as
     more pertinent budgets become available.
    </p>
    <h2 class="text-lg mt-2">Starting Early</h2>
    <p class="text-base my-2">
     In general, it's not a bad idea to create your farm year as early as January 1, even
     if the discovery period for your county's spring-planted crops doesn't begin until
     mid-February.  This way, you'll be able to get practice working with the tool before
     the stressfull decision period begins.  As the various 2024 data sources are integrated,
     your budget and sensitivity analyses for 2024 will become more accurate.
    </p>
  </div>
</div>
{% endblock %}
