{% extends 'main/base.html' %}
{% block title %}
<title>Privacy</title>
{% endblock title %}
{% block content %}
{% load main_extra %}
<div class="p-6 w-1/2 mx-auto bg-white rounded-xl shadow-lg flex items-center space-x-4">
  <div class="">
    <h1 class="text-xl">Terms and Conditions</h1>
    <p class="text-base my-2">
      <em>Last modified: October 2, 2023</em>
    </p>
    <p class="text-base my-2">
      The following are the terms of an agreement between you and the Integrated Farm Budget
      Tool Team (IFBT). By using this website, you acknowledge that you have read, understand, and
      agree to be bound by these terms and to comply with all applicable laws and regulations.
      If you do not agree to these terms, please do not use this website.
    </p>
    <p class="text-base my-2">
      IFBT grants you limited permission to access and display the website pages within this
      site provided you comply with these Terms of Use.
    </p>
    <p class="text-base my-2">
      Except for the limited permission in the preceding paragraph, IFBT does not grant you
      any express or implied rights or licenses under any patents, trademarks, copyrights,
      or other proprietary or intellectual property rights. You may not mirror or “spoof”
      any of the content from this site on another website or in any other media.
    </p>
    <p class="text-base my-2">
      IFBT strives to provide users with the most accurate possible estimates, such as for 
      crop insurance premiums and indemenities and government title payments.
      However, from time to time, this website may contain technical inaccuracies or
      typographical errors, and we do not warrant the accuracy of any posted information.
      Please confirm for yourself the accuracy and completeness of information before using
      it to make decisions on related to marketing, title and crop insurance.
    </p>
    <p class="text-base my-2">
      Use of this site is at your sole risk. All materials, information,
      and services are provided "as is," with no warranties or guarantees whatsoever.
      IFBT expressly disclaims to the fullest extent permitted by law all express, implied,
      statutory, and other warranties, guarantees, or representations, including, without
      limitation, the warranties of merchantability, fitness for a particular purpose, and
      non-infringement of proprietary and intellectual property rights. Without limitation,
      IFBT makes no warranty or guarantee that this website will be uninterrupted, timely,
      secure, or error-free.
    </p>
    <p class="text-base my-2">
      You understand and agree that if you download or otherwise obtain materials, information,
      or services from this website, you do so at your own discretion and risk and that you
      will be solely responsible for any damages that may result, including loss of data or
      damage to your computer system. Some jurisdictions do not allow the exclusion of
      warranties, so the above exclusions may not apply to you.
    </p>
    <p class="text-base my-2">
      To the fullest extent permitted by applicable law, in no event will IFBT be liable to
      any party for any direct, indirect, incidental, special, exemplary or consequential
      damages of any type whatsoever related to or arising from this website or any use of
      this website, or of any site or resource linked to, referenced, or accessed through
      this website, or for the use or downloading of, or access to, any materials,
      information, products, or services, including, without limitation, any lost profits,
      business interruption, lost savings or loss of programs or other data, even if IFBT
      is expressly advised of the possibility of such damages. This exclusion and waiver
      of liability applies to all causes of action, whether based on contract, warranty,
      tort, or any other legal theories.
    </p>
  </div>
</div>
{% endblock %}
